@mixin button--global($color, $background, $hoverColor, $hoverBackground) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 60px;
  font-family: "Museo-Sans";
  font-size: rem-calc(16px);
  font-weight: 700;
  line-height: (16 / 16);
  color: $color;
  background-color: $background;
  transition:
    $transition-short color ease,
    $transition-short background-color ease;
  -webkit-font-smoothing: antialiased;

  @include breakpoint(medium) {
    width: 150px;
  }

  &:hover {
    color: $hoverColor;
    background-color: $hoverBackground;
  }
}
