@mixin heading--primary {
  font-family: "Sectra";
  font-size: rem-calc(24px);
  font-weight: 400;
  line-height: (33 / 24);
}

@mixin paragraph--large {
  font-family: "Haptik";
  font-size: rem-calc(30px);
  font-weight: 500;
  line-height: (41 / 30);

  @include breakpoint(large) {
    font-size: rem-calc(38px);
  }

  @include breakpoint(xlarge) {
    font-size: rem-calc(48px);
    line-height: (66 / 48);
  }
}

@mixin paragraph--medium-large {
  font-family: "Museo-Sans";
  font-size: rem-calc(16px);
  font-weight: 500;
  line-height: (24 / 16);

  @include breakpoint(large) {
    font-size: rem-calc(20px);
  }
}

@mixin paragraph--medium {
  font-family: "Museo-Sans";
  font-size: rem-calc(14px);
  font-weight: 500;
  line-height: (22 / 14);

  @include breakpoint(large) {
    font-size: rem-calc(16px);
    line-height: (24 / 14);
  }
}

@mixin paragraph--serif {
  font-family: "Sectra";
  font-size: rem-calc(20px);
  font-weight: 400;
  line-height: (36 / 24);
  -webkt-font-smooth: always;

  @include breakpoint(large) {
    font-size: rem-calc(24px);
  }
}

@mixin label {
  font-family: "Museo-Sans";
  font-size: rem-calc(10px);
  font-weight: 700;
  line-height: (12 / 10);
  letter-spacing: rem-calc(1px);
  text-transform: uppercase;
}
