// stylelint-disable selector-max-type

img,
svg {
    display: block;
    max-width: 100%;
}

.IE {
    color: $white;
    background-color: $blue-navy;
}

.accessHidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    border: 0;
}
