// stylelint-disable

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: inherit;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    font-family: inherit;
    font-size: inherit;
}

/*-------------------------------------------------------------------------------*/
/*--------------------------------- LOCAL FONTS ---------------------------------*/
/*-------------------------------------------------------------------------------*/

@font-face {
    font-family: "Sectra";
    font-style: normal;
    font-weight: 400;
    src:
        url("/fonts/GT-Sectra-Fine-Medium.otf") format("opentype");
}

@font-face {
    font-family: "Sectra";
    font-style: normal;
    font-weight: 500;
    src:
        url("/fonts/GT-Sectra-Fine-Bold.otf") format("opentype");
}

@font-face {
    font-family: "Haptik";
    font-style: normal;
    font-weight: 500;
    src:
        url("/fonts/GT-Haptik-Bold.otf") format("opentype");
}

@font-face {
    font-family: "Museo-Sans";
    font-style: normal;
    font-weight: 300;
    src:
        url("/fonts/MuseoSans-300.otf") format("opentype");
}

@font-face {
    font-family: "Museo-Sans";
    font-style: normal;
    font-weight: 500;
    src:
        url("/fonts/MuseoSans-500.otf") format("opentype");
}

@font-face {
    font-family: "Museo-Sans";
    font-style: normal;
    font-weight: 700;
    src:
        url("/fonts/MuseoSans-700.otf") format("opentype");
}

/*-------------------------------------------------------------------------------*/
/*------------------------------------ STYLES -----------------------------------*/
/*-------------------------------------------------------------------------------*/

.paragraph--large {
    @include paragraph--large;
}

.paragraph--medium-large {
    @include paragraph--medium-large;
}

.paragraph--medium {
    @include paragraph--medium;
}

.label {
    @include label;
}

/*-------------------------------------------------------------------------------*/
/*----------------------------------- SPACING -----------------------------------*/
/*-------------------------------------------------------------------------------*/

.paragraph--large + .paragraph--medium-large {
    margin-top: 42px;
}

.paragraph--large + .buttonGlobal--red {
    margin-top: 40px;
}

/*-------------------------------------------------------------------------------*/
/*----------------------------------- BUTTONS -----------------------------------*/
/*-------------------------------------------------------------------------------*/

.buttonGlobal--red {
    @include button--global($white, $red, $white, $blue);
}
