$path-fonts: "/fonts";

// Colors
$black: #222;
$white: #fff;
$gray-medium: #737777;

$blue: #274ac1;
$blue-dark: #08102e;
$blue-navy: #152456;
$blue-cerulean: #4379bc;
$blue-periwinkle: #86a2ff;
$blue-sky: #59b7df;

$red: #e43f30;
$magenta: #af208e;
$yellow: #fcb016;

// Gradients
$blue-gradient: linear-gradient(to bottom, $blue-navy 40%, #203887 80%);

// Transitions
$transition-short: 0.2s;
$transition-medium: 0.4s;
$transition-long: 0.6s;

// Breakpoints
$breakpoints: (
    small: 0,
    medium: 640px,
    large: 1024px,
    xlarge: 1200px,
    xxlarge: 1440px,
    xxxlarge: 1600px,
);
$print-breakpoint: large;
$breakpoint-classes: (small medium large xlarge xxlarge xxxlarge);

// Grid
$global-width: rem-calc(1200);
$global-max-width: rem-calc(1600);
$grid-row-width: $global-width;
$grid-column-count: 12;
$grid-column-gutter: (
    small: 40px,
    large: 30px,
);
$grid-column-align-edge: true;
$grid-column-alias: "columns";
$block-grid-max: 8;
