<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-K8KV9LB');</script>
    <!-- End Google Tag Manager -->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="apple-touch-icon" href="<%= BASE_URL %>favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="192x192" href="<%= BASE_URL %>favicon/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="<%= BASE_URL %>favicon/android-chrome-512x512.png">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= BASE_URL %>favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= BASE_URL %>favicon/favicon-16x16.png">
    <link rel="manifest" href="<%= BASE_URL %>favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="<%= BASE_URL %>favicon/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">

    <title>Reimagine | The Campaign for Jefferson</title>

    <meta property="og:url"           content="https://reimagine.jefferson.edu/" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Reimagine | The Campaign for Jefferson" />
    <meta property="og:description"   content="The Campaign for Jefferson" />
    <meta property="og:image"         content="https://reimagine.jefferson.edu/images/social.jpg" />

    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="Reimagine | The Campaign for Jefferson">
    <meta name="twitter:description" content="Reimagine | The Campaign for Jefferson">
    <meta name="twitter:hashtags" content="Reimagine">
    <meta name="twitter:site" content="@JeffersonUniv" />
    <meta name="twitter:image" content="https://reimagine.jefferson.edu/images/social.jpg" />
    <meta name="twitter:url" content="https://reimagine.jefferson.edu/">

  </head>
  <body>

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K8KV9LB"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!--[if lte IE 9]>
    <p style='color: white; background-color: #152456; font-family: Sans-serif; font-weight: 500; font-size: 38px; line-height: 50px; text-align: center; padding: 100px;'>This website has been optimized to perform on modern browsers. We recommend either downloading <a href='https://www.google.com/chrome/'>Chrome</a>, or upgrading your current browser to Edge.</p>
    <![endif]-->
    <noscript>
      <strong>We’re sorry but this website, “Reimagine | The Campaign for Jefferson", doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
    <script src="https://rawgit.com/web-animations/web-animations-js/master/web-animations.min.js"></script>
    <!-- built files will be auto injected -->

    <script>
      function detectIE() {
        var ua = window.navigator.userAgent;

        var msie = ua.indexOf('MSIE ');
        if (msie > 0) {
          // IE 10 or older => return version number
          return parseInt(ua.substring(msie + 5, ua.indexOf('.', msie)), 10);
        }

        var trident = ua.indexOf('Trident/');
        if (trident > 0) {
          // IE 11 => return version number
          var rv = ua.indexOf('rv:');
          return parseInt(ua.substring(rv + 3, ua.indexOf('.', rv)), 10);
        }

        var edge = ua.indexOf('Edge/');
        if (edge > 0) {
          // Edge (IE 12+) => return version number
          return parseInt(ua.substring(edge + 5, ua.indexOf('.', edge)), 10);
        }

        // other browser
        return false;
      }

      // Get IE or Edge browser version
      var version = detectIE();

      if (version === false) {
        // console.log('Not IE');
      } else if (version >= 12) {
        // console.log('Edge');
      } else {
        console.log('IE');
        document.body.innerHTML+= "<p style='color: white; background-color: #152456; font-family: Sans-serif; font-weight: 500; font-size: 38px; line-height: 50px; text-align: center; padding: 100px;'>This website has been optimized to perform on modern browsers. We recommend either downloading <a href='https://www.google.com/chrome/'>Chrome</a>, or upgrading your current browser to Edge.</p>";
      }
    </script>
  </body>
</html>
