<template>
  <component
    :is="getComponent"
    v-bind="moduleData"
  />
</template>

<script>
import Intro from '@/components/Intro.vue';
import PillarsContainer from '@/components/PillarsContainer.vue';
import Outro from '@/components/Outro.vue';
import Footer from '@/components/Footer.vue';

export default {
  components: {
    Intro,
    PillarsContainer,
    Outro,
    Footer,
  },
  props: {
    moduleData: {
      type: Object,
      required: true,
    },
  },
  computed: {
    getComponent() {
      const { type } = this.moduleData;

      return `${type.charAt(0).toUpperCase()}${type.slice(1)}`;
    },
  },
};
</script>
