<template>
  <footer class="footer">
    <div class="footer__inner">
      <div class="footer__contact">
        <img
          class="footer__logo"
          src="/images/shieldlogo.svg"
          alt="logo"
        />
        <p
          class="paragraph--medium"
          v-html="contact"
        />
      </div>
      <div class="footer__form">
        <h2
          class="footer__label label"
          v-text="'Sign up for more information'"
        />
        <div
          ref="footerSurvey"
          class="footerForm__input-wrap"
        >
          <div
            id="survey-wrapper-4251937"
            class="sg-survey"
          />
        </div>
      </div>
      <div class="footer__social">
        <h2
          class="footer__label label"
          v-text="'Share'"
        />
        <ul class="social">
          <li class="social__item">
            <a
              class="social__link"
              href="https://www.facebook.com/sharer/sharer.php?u=https%3A//reimagine.jefferson.edu/"
              target="_blank"
            >
              <svg
                class="social__icon"
                viewBox="0 0 40 40"
              >
                <path d="M20,40C8.9,40,0,31.1,0,20S8.9,0,20,0s20,8.9,20,
                  20S31.1,40,20,40z M17.1,30.7h4.7V20h3.2l0.4-3.7h-3.6v-1.9
                  c0-0.9,0.1-1.5,1.6-1.5h2V9.3h-3.2c-3.7,
                  0-5.1,1.7-5.1,4.8v2.3h-2.4v3.7h2.4V30.7z"/>
              </svg>
              <span
                class="accessHidden"
                v-text="'facebook'"
              />
            </a>
          </li>
          <li class="social__item">
            <a
              class="social__link"
              href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fjeff-182-00z.160over90.io%2F"
              target="_blank"
            >
              <svg
                class="social__icon"
                viewBox="0 0 40 40"
              >
                <path d="M20,40C8.9,40,0,31.1,0,20S8.9,0,20,0s20,8.9,
                  20,20S31.1,40,20,40 M23.2,12.1c-1.9,0.7-2.9,2.3-2.8,4.1v0.7
                  l-0.7-0.1c-2.7-0.3-4.9-1.5-6.9-3.3l-0.9-0.9l-0.3,0.7c-0.5,1.5-0.1,3.1,
                  0.9,4.1c0.5,0.5,0.4,0.7-0.5,0.3c-0.4-0.1-0.7-0.1-0.7-0.1
                  c-0.1,0.1,0.3,1.3,0.5,1.9c0.4,0.7,1.2,1.3,2,1.9l0.7,
                  0.3h-0.8c-0.8,0-0.8,0-0.8,0.3c0.3,0.9,1.5,1.9,2.7,2.3l0.9,0.3l-0.8,0.4
                  c-1.2,0.7-2.5,1.1-3.9,1.1c-0.7,0-1.2,0.1-1.2,0.1c0,
                  0.1,1.7,0.9,2.8,1.2c3.1,0.9,6.8,0.5,9.5-1.1c2-1.1,3.9-3.3,4.8-5.5
                  c0.5-1.2,0.9-3.2,0.9-4.3c0-0.7,0-0.8,0.8-1.5c0.5-0.4,0.9-0.9,
                  1.1-1.1c0.1-0.3,0.1-0.3-0.7,0c-1.2,0.4-1.5,0.4-0.8-0.3
                  c0.4-0.4,0.9-1.3,0.9-1.5c0,0-0.3,0-0.4,0.1c-0.3,0.1-0.8,
                  0.4-1.3,0.5l-0.8,0.3l-0.7-0.4c-0.4-0.3-0.9-0.5-1.2-0.7
                  C24.9,12,23.9,12,23.2,12.1"/>
              </svg>
              <span
                class="accessHidden"
                v-text="'twitter'"
              />
            </a>
          </li>
          <li class="social__item">
            <a
              class="social__link"
              href="https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fjeff-182-00z.160over90.io%2F"
              target="_blank"
            >
              <svg
                class="social__icon"
                viewBox="0 0 40 40"
              >
                <path d="M20,0C9,0,0,9,0,20c0,11,9,20,20,20s20-9,20-20C40,9,
                  31,0,20,0z M15.2,27.1h-3.6V15.5h3.6V27.1z M13.4,13.9
                  c-1.2,0-2.1-0.9-2.1-2.1c0-1.2,0.9-2.1,2.1-2.1c1.2,0,2.1,
                  0.9,2.1,2.1C15.5,13,14.5,13.9,13.4,13.9z M28.7,27.1h-3.6v-5.7
                  c0-1.3,0-3.1-1.9-3.1c-1.9,0-2.2,1.5-2.2,3v5.7h-3.6V15.5h3.5v1.6h0c0.5-0.9,
                  1.7-1.9,3.4-1.9c3.7,0,4.3,2.4,4.3,5.5V27.1z"/>
              </svg>
              <span
                class="accessHidden"
                v-text="'linkedin'"
              />
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footerBottom">
      <div class="footer__inner">
        <p
          class="footer__copyright footer__copy"
          v-text="'Copyright © 2018 Jefferson University Hospitals'"
        />

        <ul class="footerBottom__list">
          <li
            class="footerBottom__listItem footer__copy"
            v-for="(link, index) in links"
            :key="`footerLink_${index}`"
          >
            <a
              class="footerBottom__listLink"
              :href="link.url"
              v-text="link.text"
              target="_blank"
            />
          </li>
        </ul>
      </div>
    </div>
  </footer>
</template>
<script>
export default {
  name: 'Footer',
  props: {
    contact: {
      type: String,
      required: true,
    },
    links: {
      type: Array,
      required: true,
    },
  },
  mounted() {
    const { protocol, origin, pathname } = document.location;
    const evaluateProtocol = protocol === 'https:' ? 's' : '';
    const { footerSurvey } = this.$refs;

    const script = document.createElement('script');
    script.src = `http${evaluateProtocol}://www.surveygizmo.com/s3/4251937/OIA-Newsletter-Sign-Up?__output=embedjs&__ref=${escape(origin + pathname)}`;

    footerSurvey.appendChild(script);
  },
};
</script>

<style lang="scss">
.footer {
  position: relative;
  z-index: 10;
  padding: 50px 0 0;
  margin-top: -2px;
  background-color: $blue-navy;

  .paragraph--medium {
    color: $white;
  }

  a {
    transition: $transition-short color ease;
  }

  a:hover {
    color: $red;
  }
}

.footer__inner {
  @include flex-grid-row;
}

.footer__contact {
  @include flex-grid-column(12);
  margin-top: 30px;
  order: 2;

  @include breakpoint(medium) {
    @include flex-grid-column(3);
    margin-top: 0;
    order: 1;

  }
}

.footer__logo {
  width: 245px;

  @include breakpoint(medium) {
    width: 200px;
  }
}

.footer__logo + .paragraph--medium {
  margin-top: 30px;
}

.footer__label {
  color: $white;
  // color: $blue-sky;
}

.footerForm__input-wrap {
  position: relative;
}

.footer__label + .social {
  margin-top: 12px;
}

.footer__form {
  @include flex-grid-column(12);
  order: 1;

  @include breakpoint(medium) {
    @include flex-grid-column(6);
    order: 2;
  }
}

.footer__social {
  @include flex-grid-column(12);
  margin-top: 30px;
  order: 3;

  @include breakpoint(medium) {
    @include flex-grid-column(3);
    margin-top: 0;
  }

  @include breakpoint(xlarge) {
    @include flex-grid-column(2);
    @include grid-column-offset(1);
  }
}

.social {
  font-size: 0;
}

.social__item {
  display: inline-block;
}

.social__item + .social__item {
  margin-left: 14px;
}

.social__icon {
  width: 40px;
  height: 40px;
  fill: $blue-sky;
  transition: $transition-short fill ease;

  &:hover {
    fill: $red;
  }
}

.footerBottom {
  padding: 24px 0;
  margin-top: 50px;
  background-color: $blue-dark;

  .footer__inner {
    @include flex-grid-column(12);
    @include flex-grid-row;
    display: flex;
    justify-content: space-between;
  }
}

.footer__copyright + .footerBottom__list {
  margin-top: 22px;

  @include breakpoint(medium) {
    margin-top: 0;
  }
}

.footerBottom__list {
  float: right;
  font-size: 0;
}

.footerBottom__listItem {
  display: inline-block;
}

.footerBottom__listItem + .footerBottom__listItem {
  margin-left: 30px;
}

.footer__copy {
  font-family: "Museo-Sans";
  font-size: rem-calc(12px);
  font-weight: 700;
  line-height: (14 / 12);
  letter-spacing: rem-calc(0.4px);
  color: $white;
  -webkit-font-smoothing: antialiased;
}

.sg-header {
  background-color: transparent !important;
}

.sg-wrapper,
.sg-body {
  background-color: transparent !important;
}

.sg-body {
  label,
  .sg-instructions {
    color: $white !important;
    font-family: "Museo-Sans" !important;
    font-size: rem-calc(16px) !important;
    font-weight: 700 !important;
    line-height: (16 / 16) !important;
    -webkit-font-smoothing: antialiased;
  }
}

.sg-content {
  padding: 0 !important;
}

.sg-survey-form {
  width: 100% !important;
}

.sg-question {
  padding: 0;
  visibility: visible !important;
  height: auto !important;
  overflow: visible !important;
  border: none !important;
  margin: 15px 0 !important;
}

.sg-question-set {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  height: 100% !important;

  @include breakpoint(medium) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  :not(:last-child) {
    width: 100%;
    margin-bottom: 5px !important;

    @include breakpoint(medium) {
      width: calc(50% - 10px);
      margin-bottom: 0 !important;
    }
  }

  :last-child {
    width: 100% !important;
  }
}

.sg-question-title {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  border: 0 !important;
}

.sg-question-options {
  margin-bottom: 25px !important;
}

.sg-question-has-errors {
  padding: 0 !important;
}

.sg-input-text {
  height: 40px !important;
  background-color: transparent !important;
  padding: 0 !important;
  border: 0 !important;
  border-bottom: 2px solid $blue-sky !important;
  border-radius: 0 !important;
  font-family: "Museo-Sans" !important;
  font-size: rem-calc(16px) !important;
  font-weight: 700 !important;
  line-height: (16 / 16) !important;
  color: $white !important;
  -webkit-font-smoothing: antialiased;

  &:focus {
    border-bottom: 2px solid $red !important;
  }
}

.sg-question-options {
  padding: 0 !important;
}

.sg-button-bar {
  margin: 0 !important;
  float: left;
}

.sg-button {
  border-radius: 0 !important;
}

.sg-submit-button {
  @include button--global($white, $red, $white, $blue);
  display: block !important;
  margin: 0 !important;
  margin-left: 0 !important;
  background-color: $red !important;
  color: $white !important;
  border-radius: 0 !important;
  width: 120px !important;
  height: 60px !important;
  font-family: "Museo-Sans" !important;
  font-size: rem-calc(16px) !important;
  font-weight: 700 !important;
  line-height: (16 / 16) !important;
  -webkit-font-smoothing: antialiased !important;
  -webkit-appearance: none;

  &:hover {
    color: $white !important;
    background-color: $blue !important;
  }
}

input[type="text"] {
  &::-webkit-input-placeholder {
    color: $blue-sky;
  }
  &:-moz-placeholder {
    color: $blue-sky;
  }
  &::-moz-placeholder {
    color: $blue-sky;
  }
  &:-ms-input-placeholder {
    color: $blue-sky;
  }
}

.sg-footer {
  position: static !important;
  background-color: transparent !important;
  box-shadow: none !important;
}

.sg-next-button,
.sg-back-button {
  display: none !important;
}

.sg-page-rotateSlideInPrev,
.sg-page-rotateSlideInNext,
.sg-page-rotateSlideOutNext,
.sg-page-rotateSlideOutPrev {
  animation: none !important;
}

</style>
