<template>
  <section class="intro">
    <nav
      class="introNav"
      :class="{'introNav--active': landingOnScreen === true}">
      <ul class="introNav__list">
        <li class="introNav__item">
          <a
            class="introNav__link"
            href="https://giving.jefferson.edu/giving/about/contact.html"
            target="_blank"
            v-text="'Contact'"
          />
        </li>
        <li class="introNav__item">
          <a
            class="introNav__link introNav__link--donate buttonGlobal--red"
            href="https://giving.jefferson.edu/giving/online-giving/reimagine.html?utm_source=19Q0024"
            target="_blank"
            v-text="'Donate'"
          />
        </li>
      </ul>
    </nav>
    <SpiralBackground
      class="intro__background"
    />
    <video autoplay muted loop class="introVideo">
      <source src="/videos/texture.mp4" type="video/mp4">
      Your browser does not support HTML5 video.
    </video>
    <intersection
      @enter="landingOnScreen = true"
    >
      <div
        class="introLanding"
        :class="{'introLanding--active': landingOnScreen === true}"
      >
        <div class="introLanding__inner">
          <div class="introLanding__content">
            <div class="introCornocopiaWrap">
              <cornocopia
                class="introCornocopia"
              />
            </div>
            <logo
              :darkMode="true"
            />
            <p
              class="introLanding__p"
              v-text="copy"
            />
            <div class="introLanding__ctaWrap">
              <a
                class="introLanding__cta"
                v-text="cta"
              />
            </div>
          </div>
        </div>
      </div>
    </intersection>
    <div class="introBottom">
      <intersection
        @enter="pillarsOnScreen = true"
        root-margin="-20% 0px"
      >
        <div
          class="introBottom__inner introBottom__pillars"
          :class="{'introBottom__inner--active': pillarsOnScreen === true}"
        >
          <div
            v-for="(pillar, index) in pillars"
            :key="`pillarCol_${index}`"
            class="introBottom__pillarCol"
          >
            <GlideParallax
              :from="pillar.translate"
              :to="'-' + pillar.translate"
            >
              <div
                is="LinkScroller"
                :href="`#pillar__${pillar.title}`"
                class="introPillar"
              >
                <span
                  class="accessHidden"
                  v-text="pillar.title"
                />
                <img
                  class="introPillar__img"
                  :src="pillar.img.src"
                  :alt="pillar.img.alt"
                />
                <svg
                  class="introPillar__poly"
                  :style="{'fill': pillar.color}"
                  viewBox="0 0 325 250"
                >
                  <polygon points="27.8,0 297.2,0 325,250 0,250 "/>
                </svg>
                <h2
                  class="introPillar__title"
                  :style="{'border-color': pillar.color}"
                >
                  {{ pillar.title }}
                  <div
                    class="introPillar__titleBorder"
                    :style="{'background-color': pillar.color}"
                  />
                </h2>
              </div>
            </GlideParallax>
          </div>
        </div>
      </intersection>
      <div class="introBottom__inner">
        <intersection
          @enter="bottomOnScreen = true"
          root-margin="-10% 0px"
        >
          <div
            class="introBottom__main"
            :class="{'introBottom__main--active': bottomOnScreen === true}"
          >
            <p
              class="paragraph--large"
              v-text="bottomContent.title"
            />
            <p
              class="paragraph--medium"
              v-text="bottomContent.copy"
            />
          </div>
        </intersection>
      </div>
    </div>
  </section>
</template>

<script>
import intersection from '@/components/intersection';
import LinkScroller from '@/components/LinkScroller.vue';
import Logo from '@/components/Logo.vue';
import Cornocopia from '@/components/Cornocopia.vue';
import SpiralBackground from '@/components/SpiralBackground.vue';

export default {
  name: 'Intro',
  components: {
    intersection,
    LinkScroller,
    Logo,
    Cornocopia,
    SpiralBackground,
  },
  props: {
    copy: {
      type: String,
      required: true,
    },
    cta: {
      type: String,
      required: true,
    },
    pillars: {
      type: Array,
      required: true,
    },
    bottomContent: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      landingOnScreen: false,
      pillarsOnScreen: false,
      bottomOnScreen: false,
    };
  },
};
</script>

<style lang="scss">
.intro {
  position: relative;
  z-index: 5;
  overflow: hidden;
  background: $blue-gradient;

  .paragraph--large,
  .paragraph--medium {
    color: $white;
    transition:
      transform 1s cubic-bezier(0.215, 0.61, 0.355, 1),
      opacity 1s cubic-bezier(0.215, 0.61, 0.355, 1);

    @include breakpoint(medium) {
      opacity: 0;
      transform: translateX(-100px);
    }
  }

  .paragraph--large + .paragraph--medium {
    margin-top: 42px;
    transition-delay: 0.2s;
  }
}

.introNav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  font-size: 0;
  opacity: 0;
  transition: $transition-long opacity ease;
  transition-delay: 2s;
}

.introNav__list {
  display: flex;
  justify-content: space-between;

  @include breakpoint(medium) {
    justify-content: flex-end;
  }
}

.introNav--active {
  opacity: 1;
}

.introNav__item {
  display: inline-block;
}

.introNav__link {
  @include button--global($white, transparent, $white, transparent);
}

.intro__background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  fill: $blue-dark;
  opacity: 0.8;
}

.introLanding {
  height: 100vh;
}

.introLanding--active {
  .introCornocopiaWrap {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }

  .introLanding__p,
  .introLanding__cta {
    opacity: 1;
    transform: translateY(0);
  }

  .introLanding__cta::after {
    height: 135px;
  }
}

.introLanding__inner {
  @include flex-grid-row;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.introLanding__content {
  @include flex-grid-column(10);
  @include grid-column-offset(1);
  position: relative;

  @include breakpoint(medium) {
    @include flex-grid-column(8);
    @include grid-column-offset(2);
  }

  @include breakpoint(xlarge) {
    @include flex-grid-column(6);
    @include grid-column-offset(3);
  }
}

.introCornocopiaWrap {
  position: absolute;
  top: -130px;
  left: -90px;
  z-index: -1;
  width: 140%;
  opacity: 0;
  transform: scale(0.2) rotate(1080deg);
  transform-origin: 56% 48%;
  transition:
    3s opacity cubic-bezier(0.23, 1, 0.32, 1),
    3s transform cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-delay: 1.2s;

  @include breakpoint(medium) {
    top: -170px;
    left: -30px;
    width: 100%;
  }

  &::after {
    position: absolute;
    top: calc(50% - 250px);
    left: calc(50% - 210px);
    height: 500px;
    width: 500px;
    content: "";
    background:
      radial-gradient(
        ellipse at center,
        rgba(21, 36, 81, 1) 30%,
        rgba(21, 36, 81, 0) 50%
      );

    @include breakpoint(medium) {
      top: calc(50% - 170px);
      left: calc(50% - 110px);
      height: 300px;
      width: 300px;
      background:
        radial-gradient(
          ellipse at center,
          rgba(21, 36, 81, 1) 30%,
          rgba(21, 36, 81, 0) 70%
        );
    }
  }
}

.introCornocopia {
  width: 500px;
  margin: 0 auto;
  animation: rotation 120s infinite linear;
  transform-origin: 56% 48%;
}

.logo + .introLanding__p {
  margin-top: 36px;
}

.introLanding__p,
.introLanding__cta {
  opacity: 0;
  transform: translateY(30px);
  transition:
    $transition-long opacity ease,
    $transition-long transform ease;
}

.introLanding__p {
  @include paragraph--serif;
  color: $white;
  text-align: center;
  transition-delay: 1.2s;
}

.introLanding__p + .introLanding__ctaWrap {
  margin-top: 100px;

  @include breakpoint(medium) {
    margin-top: 120px;
  }
}

.introLanding__ctaWrap {
  position: absolute;
  left: 0;
  overflow: visible;
  width: 100%;
  height: 0;
}

.introLanding__cta {
  display: table;
  margin-right: auto;
  margin-left: auto;
  font-family: "Haptik";
  font-size: rem-calc(15px);
  font-weight: 500;
  line-height: (12 / 15);
  text-transform: uppercase;
  letter-spacing: rem-calc(1px);
  color: $white;
  transition-delay: 3s;
  -webkit-font-smoothing: antialiased;

  &::after {
    display: block;
    width: 1px;
    height: 0px;
    margin: 30px auto 0;
    content: "";
    background-color: $red;
    transition: $transition-long height cubic-bezier(0.165, 0.84, 0.44, 1);
    transition-delay: 4s;
  }
}

@-webkit-keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-359deg);
  }
}

.introBottom {
  position: relative;
  z-index: 1;
  padding-bottom: 100px;
  margin-top: 100px;

  @include breakpoint(large) {
    padding-bottom: 160px;
    margin-top: 0;
  }

  @include breakpoint(xlarge) {
    min-height: 100vh;
  }
}

.introBottom__inner {
  @include flex-grid-row;
}

.introBottom__inner--active {
  .introBottom__pillarCol {
    opacity: 1;
  }
}

.introBottom__pillars {
  // padding-top: 140px;
  padding-bottom: 80px;
}

.introBottom__pillarCol {
  @include flex-grid-column(6);
  opacity: 0;
  transition: opacity 2s ease;

  @include breakpoint(medium) {
    @include flex-grid-column(3);
  }

  &:nth-child(odd) {
    .introPillar__title {
      right: -80%;
    }

    .introPillar__titleBorder {
      left: -100px;

      @include breakpoint(medium) {
        left: 50%;
      }
    }
  }

  &:nth-child(even) {
    .introPillar__title {
      left: -80%;
    }

    .introPillar__titleBorder {
      right: -100px;

      @include breakpoint(medium) {
        right: 50%;
      }
    }
  }

  &:nth-child(2) {
    padding-top: 130px;
    transition-delay: 0.4s;

    @include breakpoint(medium) {
      padding-top: 145px;
    }
  }

  &:nth-child(3) {
    transition-delay: 0.2s;

    @include breakpoint(medium) {
      padding-top: 80px;
    }
  }

  &:nth-child(4) {
    padding-top: 130px;
    transition-delay: 0.6s;

    @include breakpoint(medium) {
      padding-top: 240px;
    }
  }
}

.introBottom__main {
  @include flex-grid-column(10);
  @include grid-column-offset(1);

  @include breakpoint(medium) {
    @include flex-grid-column(5);
  }
}

.introBottom__main--active {
  .paragraph--large,
  .paragraph--medium {
    opacity: 1;
    transform: translateX(0);
  }
}

.introBottom__pillarCol {
  &:nth-child(odd) .introPillar__img {
    right: -10px;
  }

  &:nth-child(even) .introPillar__img {
    left: -10px;
  }
}

.introPillar {
  position: relative;
  display: block;
  margin: 0 -20px;
}

.introPillar:hover {
  .introPillar__poly {
    fill: $white !important;
  }

  .introPillar__titleBorder {
    background-color: $white !important;
  }

  .introPillar__title {
    color: $blue;
    background-color: $white !important;
    border-color: $white !important;
  }
}

.introPillar__poly {
  transition: fill $transition-short ease;
}

.introPillar__img {
  position: absolute;
  top: -10px;
}

.introPillar__titleBorder {
  position: absolute;
  top: 50%;
  width: 100px;
  height: 1px;
  transition: background-color $transition-short ease;

  @include breakpoint(medium) {
    top: -100px;
    width: 1px;
    height: 100px;
  }
}

.introPillar__title {
  @include paragraph--serif;
  position: absolute;
  top: 50%;
  display: table;
  margin: 0 auto;
  color: $white;
  padding: 2px 16px;
  border: 1px solid;
  transform: translateY(-50%);
  transition:
    color $transition-short ease,
    background-color $transition-short ease,
    border-color $transition-short ease;

  @include breakpoint(medium) {
    position: static;
    margin-top: 50px;
  }
}

.introVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -1;
  display: none;
  min-width: 100%;
  min-height: 100%;
}
</style>
