<template>
  <a
    ref="link"
    @click.prevent="scroll"
  >
      <slot/>
  </a>
</template>

<script>
export default {
  name: 'LinkScroller',
  methods: {
    scroll() {
      const { href } = this.$refs.link;
      const targetElement = document.getElementById(href.substring(href.indexOf('#') + 1));

      targetElement.scrollIntoView({
        behavior: 'smooth',
        block: 'start',
      });
    },
  },
};
</script>
