<template>
  <section class="outro">
    <div class="outro__backgroundWrap">
      <SpiralBackground
        class="outro__background"
      />
    </div>
    <div class="outro__inner">
      <div class="outro__videoCol">
        <div class="video">
          <div
            class="videoOverlay__wrap"
            :class="{'videoOverlay__wrap--inactive': !overlay}"
            @click="videoPlay()"
          >
            <button
              class="videoOverlayBtn"
              @click="videoPlay()"
            >
              <svg
                class="videoOverlayBtn__svg"
                viewBox="0 0 66.9 68.9"
              >
                <path
                  d="M2.3,68.9c-0.4,0-0.8-0.1-1.2-0.3c-0.7-0.4-1.1-1.2-1.1-2V2.4c0-0.8,0.4-1.6,
                  1.1-2c0.7-0.4,1.5-0.5,2.2-0.1
                  l62.3,32c0.8,0.4,1.3,1.2,1.3,2.1c0,0.9-0.5,1.7-1.3,2.1L3.4,68.7C3,68.8,2.7,68.9,
                  2.3,68.9z M2.3,2C2.3,2,2.2,2,2.2,2
                  C2.1,2.1,2,2.2,2,2.4v64.2c0,0.2,0.1,0.3,0.2,0.3c0.1,0,
                  0.2,0.1,0.3,0l62.3-32.1c0.2-0.1,
                  0.2-0.3,0.2-0.3c0-0.1,0-0.2-0.2-0.3
                  L2.5,2C2.4,2,2.4,2,2.3,2z"/>
              </svg>
              <span class="accessHidden">Play</span>
            </button>
            <img
              class="videoOverlay__img"
              src="/images/outro_videobackground.jpg"
              alt="Philadelphia skyline"
            />
          </div>
          <VuePlyrVideo
             :videoUrl="video.src"
             ref="video"
          />
        </div>
      </div>
    </div>
    <div id="donate" class="outro__inner outro__inner--cta">
      <intersection
        @enter="queueCta()"
        root-margin="-20% 0px"
      >
        <div
          class="outroCta"
          :class="{'outroCta--active': ctaOnScreen === true}"
        >
          <h3 class="outroCta__text">
            <span class="outroCta__border">i'm</span>&nbsp;<span class="outroCta__border">
              <span
                ref="ctaRevolver"
                class="outroCtaRevolver"
                :class="{
                  'outroCtaRevolver--two': activeRevolverPanel === 2,
                  'outroCtaRevolver--three': activeRevolverPanel === 3
                }"
              >
                <span
                  class="outroCtaRevolver__panel"
                  :class="{'outroCtaRevolver__panel--active': activeRevolverPanel === 1}"
                >here</span>
                <span
                  class="outroCtaRevolver__panel"
                  :class="{'outroCtaRevolver__panel--active': activeRevolverPanel === 2}"
                >ready</span>
                <span
                  class="outroCtaRevolver__panel"
                  :class="{'outroCtaRevolver__panel--active': activeRevolverPanel === 3}"
                >in</span>
              </span>
            </span>
          </h3>
          <!-- <p
            class="paragraph--medium"
            v-text="cta.copy"
          /> -->
        </div>
      </intersection>
    </div>
    <div class="outro__inner outro__inner--donate">
      <div
        class="outroDonate"
        :class="{'outroDonate--active': ctaOnScreen === true}"
      >
        <p
          class="paragraph--large"
          v-text="donateCta.copy"
        />
        <a
          class="buttonGlobal--red"
          :href="donateCta.button.url"
          v-text="donateCta.button.text"
          target="_blank"
        />
      </div>
    </div>
  </section>
</template>

<script>
import intersection from '@/components/intersection';
import SpiralBackground from '@/components/SpiralBackground.vue';

export default {
  name: 'Outro',
  components: {
    intersection,
    SpiralBackground,
  },
  props: {
    video: {
      type: Object,
      required: true,
    },
    cta: {
      type: Object,
      required: true,
    },
    donateCta: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      overlay: true,
      ctaOnScreen: false,
      activeRevolverPanel: 1,
      revolved: false,
    };
  },
  methods: {
    videoPlay() {
      this.overlay = false;
      this.$refs.video.play();
    },
    queueCta() {
      if (this.revolved === false) {
        this.ctaOnScreen = true;

        setTimeout(() => {
          this.activeRevolverPanel = 2;
        }, 1000);

        setTimeout(() => {
          this.activeRevolverPanel = 3;
        }, 2000);

        this.revolved = true;
      }
    },
  },
};
</script>

<style lang="scss">
.outro {
  position: relative;
  padding: 90px 0;
  // overflow: hidden;
  background: $blue-gradient;

  @include breakpoint(medium) {
    padding: 170px 0;
  }

  .paragraph--large,
  .paragraph--medium {
    color: $white;
  }
}

.outro__backgroundWrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.outro__background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  fill: $blue-dark;
  opacity: 0.8;
}

.outro__inner {
  @include flex-grid-row;
  position: relative;
  z-index: 1;
}

.outro__inner + .outro__inner--cta {
  margin-top: 110px;

  @include breakpoint(large) {
    margin-top: 170px;
  }
}

.outro__inner + .outro__inner--donate {
  // margin-top: 360px;
  margin-top: 200px;
}

.outro__videoCol {
  @include flex-grid-column(12);

  @include breakpoint(medium) {
    @include flex-grid-column(10);
    @include grid-column-offset(1);
  }
}

.video {
  position: relative;
}

.videoOverlay__wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition:
    $transition-long opacity cubic-bezier(0.23, 1, 0.32, 1),
    $transition-long visibility cubic-bezier(0.23, 1, 0.32, 1);
}

.videoOverlay__wrap--inactive {
  opacity: 0;
  visibility: hidden;
}

.videoOverlay__img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.videoOverlayBtn {
  position: relative;
  z-index: 3;
  cursor: pointer;
  background-color: transparent;

  &:hover {
    .videoOverlayBtn__svg {
      fill: $red;
    }

    &::after {
      color: $red;
    }
  }

  &::after {
    @include paragraph--serif;
    position: absolute;
    bottom: -50px;
    left: 0;
    display: none;
    content: "Play";
    color: $white;
    transition: $transition-short color ease;

    @include breakpoint(medium) {
      display: block;
    }
  }
}

.videoOverlayBtn__svg {
  fill: $white;
  width: 23px;
  height: 23px;
  transition: $transition-short fill ease;

  @include breakpoint(medium) {
    width: 65px;
    height: 67px;
  }
}

.outroCta {
  @include flex-grid-column(10);
  @include grid-column-offset(1);
  position: relative;

  @include breakpoint(medium) {
    @include flex-grid-column(6);
    @include grid-column-offset(3);
  }

  .outroCta__text,
  .paragraph--medium {
    opacity: 0;
    transform: translateY(30px);
    transition:
    $transition-long opacity ease,
    $transition-long transform ease;
  }

  .paragraph--medium {
    max-width: 440px;
    margin: 0 auto;
    text-align: center;
    transition-delay: 2.2s;
  }

  &::after {
    position: absolute;
    // top: calc(100% + 80px);
    top: calc(100% + 50px);
    left: calc(50% - 0.5px);
    display: block;
    width: 1px;
    height: 0px;
    // margin: -85px auto 0;
    content: "";
    background-color: $red;
    transform: rotate(360deg);
    transition: $transition-long height cubic-bezier(0.165, 0.84, 0.44, 1);
    transition-delay: 2.8s;
  }
}

.outroCta--active {
  .outroCta__text,
  .paragraph--medium {
    opacity: 1;
    transform: translateY(0);
  }

  .outroCta__border::after {
    width: 100%;
  }

  &::after {
    // height: 200px;
    height: 100px;
  }
}

.outroCta__text {
  font-family: "Museo-Sans";
  font-size: rem-calc(50px);
  font-weight: 500;
  line-height: 1;
  color: $white;
  text-align: center;
  opacity: 0;
  -webkit-font-smoothing: antialiased;

  @include breakpoint(medium) {
    font-size: rem-calc(96px);
  }
}

.outroCta__text + .paragraph--medium {
  margin-top: 20px;
}

.outroCta__border {
  position: relative;
  overflow: visible;
  display: inline-block;
  height: 56px;
  vertical-align: bottom;

  @include breakpoint(medium) {
    height: 94px;
  }

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 0;
    height: 4px;
    content: "";
    background-color: $red;
    transition: 1s width cubic-bezier(0.165, 0.84, 0.44, 1);
    transition-delay: 2.4s;
  }
}

.outroCtaRevolver {
  position: relative;
  display: inline-block;
  // width: 104px;
  width: 43px;
  vertical-align: bottom;
  text-align: left;
  transition:
    $transition-long transform cubic-bezier(0.165, 0.84, 0.44, 1),
    $transition-long width cubic-bezier(0.165, 0.84, 0.44, 1);

  // @include breakpoint(medium) {
  //   width: 150px;
  // }

  @include breakpoint(medium) {
    width: 82px;
  }
}

.outroCtaRevolver--two {
  // width: 128px;
  transform: translateY(-33.3333%);

  // @include breakpoint(medium) {
  //   width: 184px;
  // }
}

.outroCtaRevolver--three {
  // width: 43px;
  transform: translateY(-66.6666%);

  // @include breakpoint(medium) {
  //   width: 62px;
  // }
}

.outroCtaRevolver__panel {
  display: block;
  opacity: 0;
  transition: $transition-long opacity cubic-bezier(0.165, 0.84, 0.44, 1);
}

.outroCtaRevolver__panel--active {
  opacity: 1;
}

.outroDonate {
  @include flex-grid-column(10);
  @include grid-column-offset(1);

  @include breakpoint(medium) {
    @include flex-grid-column(6);
    @include grid-column-offset(3);
  }

  .paragraph--large,
  .buttonGlobal--red {
    opacity: 0;
    transform: translateY(30px);
    transition:
      $transition-long opacity ease,
      $transition-long transform ease;
  }

  .paragraph--large {
    text-align: center;
    // transition-delay: 3s;
  }

  .buttonGlobal--red {
    margin-right: auto;
    margin-left: auto;
    transition:
      $transition-short color ease,
      $transition-short background-color ease,
      $transition-long opacity ease 0.2s,
      $transition-long transform ease 0.2s;
  }
}

.outroDonate--active {
  .buttonGlobal--red,
  .paragraph--large {
    opacity: 1;
    transform: translateY(0);
  }
}

.plyr__poster {
  pointer-events: none;
}
</style>
