<template>
  <GlidePosition :callback="positionCallback">
    <div
      class="pillarMain"
      :class="{'pillarMain--active': onScreen === true}"
      v-resize="paddingCheck"
    >
      <div class="pillarMain__inner">
        <div
          class="pillarMain__image"
        >
          <intersection
            @enter="onScreenMobile = true"
            @leave="onScreenMobile = false"
            root-margin="-30% 0px"
          >
            <div
              ref="stickyWrap"
              class="pillarMain__imageStickyWrap pillarMain__imageStickyWrap--mobile"
            >
              <div
                ref="theImageWrap"
                class="pillarMain__imageWrap"
              >
                <div
                  class="pillarMain__border"
                  :style="{
                    'box-shadow': `0 0 ${blurRadius * 100}px ${blurRadius * 100}px white inset`
                  }"
                />
                <!-- <canvas
                  ref="theCanvas"
                  class="pillarMain__canvas"
                /> -->
                <img
                  ref="theImgOverlay"
                  class="pillarMain__imageImg pillarMain__imageImg--overlay"
                  :src="pillar.imgBefore.src"
                  :alt="'blurred image'"
                  :style="{'opacity': blurRadius}"
                />
                <img
                  ref="theImg"
                  class="pillarMain__imageImg"
                  :src="pillar.img.src"
                  :alt="pillar.img.alt"
                />
              </div>
            </div>
          </intersection>
          <div
            ref="theImageRail"
            class="pillarMain__imageRail"
          >
            <intersection
              @enter="onScreen = true"
              @leave="onScreen = false"
              root-margin="-30% 0px"
            >
              <div
                ref="stickyWrap"
                class="pillarMain__imageStickyWrap pillarMain__imageStickyWrap--desktop"
                :style="stickyStyle"
              >
                <div
                  ref="theImageWrap"
                  class="pillarMain__imageWrap"
                >
                  <div
                    class="pillarMain__border"
                    :style="{
                      'box-shadow': `0 0 ${blurRadius * 100}px ${blurRadius * 100}px white inset`
                    }"
                  />
                  <!-- <canvas
                    ref="theCanvas"
                    class="pillarMain__canvas"
                  /> -->
                  <img
                    ref="theImgOverlay"
                    class="pillarMain__imageImg pillarMain__imageImg--overlay"
                    :src="pillar.imgBefore.src"
                    alt="blurred image"
                    :style="{'opacity': blurRadius}"
                  />
                  <img
                    ref="theImg"
                    class="pillarMain__imageImg"
                    :src="pillar.img.src"
                    :alt="pillar.img.alt"
                  />
                </div>
              </div>
            </intersection>
          </div>
        </div>
        <div
          ref="contentCol"
          class="pillarMain__content"
        >
          <intersection
            @enter="introOnScreen = true"
            root-margin="20% 0px -20% 0px"
          >
            <div
              class="pillarMain__contentIntro"
              :class="{'active': introOnScreen === true}"
            >
              <span
                class="pillarMain__contentBorder"
                :style="{'background-color': pillar.color}"
              />
              <p
                class="paragraph--large"
                v-text="pillar.intro"
              />
            </div>
          </intersection>
          <intersection
            @enter="descriptOnScreen = true"
            root-margin="30% 0px -30% 0px"
          >
            <div
              class="pillarMain__contentDescript"
              :class="{'active': descriptOnScreen === true}"
            >
              <span
                class="pillarMain__contentBorder"
                :style="{'background-color': pillar.color}"
              />
              <p
                class="paragraph--medium-large"
                v-text="pillar.description"
              />
            </div>
          </intersection>
          <intersection
            v-if="pillar.accordion"
            @enter="accordionOnScreen = true"
            root-margin="30% 0px -30% 0px"
          >
            <div
              class="pillarMain__contentAccordion"
              :class="{'active': accordionOnScreen === true}"
            >
              <intersection
                @enter="$parent.$parent.activePillar = pillar"
                root-margin="-10% 0px"
              >
                <span />
              </intersection>
              <span
                class="pillarMain__contentBorder"
                :style="{'background-color': pillar.color}"
              />
              <p
                class="paragraph--medium"
                v-text="pillar.accordion.intro"
              />
              <ul class="pillarMain__accordion">
                <li
                  v-for="(item, index) in pillar.accordion.panels"
                  :key="`${pillar.title}Accordion_panel${index}`"
                  class="pillarMain__accordionPanel"
                  :class="{'pillarMain__accordionPanel--active': activePanel === item}"
                >
                  <button
                    class="pillarMain__accordionBtn"
                    @click="togglePanel(item)"
                  >
                    <svg
                      class="pillarMain__accordionBtnSvg"
                      viewBox="0 0 14 14"
                    >
                      <path
                        class="pillarMain__accordionBtnSvgCircle"
                        d="M7,1c3.3,0,6,2.7,6,6s-2.7,6-6,6s-6-2.7-6-6S3.7,
                        1,7,1 M7,0C3.1,0,0,3.1,0,7s3.1,7,7,7s7-3.1,7-7S10.9,0
                        ,7,0L7,0z"/>
                      <line
                        class="pillarMain__accordionBtnSvgStroke one"
                        x1="7" y1="3" x2="7" y2="11"
                      />
                      <line
                        class="pillarMain__accordionBtnSvgStroke"
                        x1="11" y1="7" x2="3" y2="7"
                      />
                    </svg>
                    {{ item.heading }}
                  </button>
                  <div
                    class="pillarMain__accordionContent"
                  >
                    <p class="pillarMain__accordionParagraph" v-text="item.copy" />
                  </div>
                </li>
              </ul>
            </div>
          </intersection>
        </div>
      </div>
    </div>
  </GlidePosition>
</template>

<script>
import intersection from '@/components/intersection';
import resize from 'vue-resize-directive';
import StackBlur from 'stackblur-canvas';

export default {
  name: 'pillarMain',
  directives: {
    resize,
  },
  components: {
    intersection,
  },
  props: {
    pillar: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      blurRadius: 1,
      onScreen: false,
      onScreenMobile: false,
      windowPrevPosition: undefined,
      introOnScreen: false,
      descriptOnScreen: false,
      accordionOnScreen: false,
      activePanel: undefined,
      scrolling: undefined,
      stickyState: 'before',
    };
  },
  computed: {
    stickyStyle() {
      /* eslint-disable */
      switch (this.stickyState) {
        case 'before':
          return;
        case 'during':
          return {
            position: 'fixed',
            top: 0,
            width: `${this.$refs.theImageRail.offsetWidth}px`,
          };
        case 'after':
          return {
            position: 'absolute',
            bottom: 0,
            width: '100%',
          };
        default:
          return {
            position: this.stickyState === 'before' ? null : 'fixed',
          };
      }
      // return {
      //   position: this.stickyState === 'before' ? null : 'fixed',
      // };
      /* eslint-enable */
    },
  },
  created() {
    // Fine for now but clearly not performant so need to find
    // a better solution. Golly.
    // window.addEventListener('scroll', _.throttle(this.overlayCheck));
  },
  mounted() {
    // this.canvasSet();
    this.windowPrevPosition = window.scrollY;
    this.paddingCheck();
  },
  methods: {
    paddingCheck() {
      if (window.innerWidth >= 767) {
        this.$refs.contentCol.style.paddingTop = getComputedStyle(this.$refs.stickyWrap).paddingTop;
      } else {
        this.$refs.contentCol.style.paddingTop = '0px';
      }
    },
    positionCallback({ innerHeight, bottom }) {
      this.blurRadius = window.innerWidth < 640 ? Math.abs(innerHeight) : 1 - innerHeight;

      if (innerHeight < 0) {
        this.stickyState = 'before';

        return;
      }

      if (bottom < 0) {
        this.stickyState = 'after';

        return;
      }

      this.stickyState = 'during';

      // console.log(bottom);
    },
    overlayCheck() {
      // Gaussian Blur based on whether or not component is in viewport (Overlay version)

      if (window.innerWidth >= 767) {
        if (this.onScreen && this.$refs.stickyWrap.classList.contains('top-sticky')) {
          if (this.blurRadius !== 0) {
            this.blurRadius -= 2;
          }
        } else if (this.blurRadius !== 100) {
          this.blurRadius += 2;
        }
      } else if (window.innerWidth <= 766) {
        if (this.onScreenMobile) {
          if (this.blurRadius !== 0) {
            this.blurRadius -= 2;
          }
        } else if (this.blurRadius !== 100) {
          this.blurRadius += 2;
        }
      }
    },
    intersectCheck() {
      // Gaussian Blur based on whether or not component is in viewport
      const component = this;

      if (this.onScreen) {
        if (this.blurRadius !== 0) {
          this.blurRadius -= 2;
          StackBlur.image(component.$refs.theImg, component.$refs.theCanvas, this.blurRadius);
        }
      } else if (this.blurRadius !== 100) {
        this.blurRadius += 2;
        StackBlur.image(component.$refs.theImg, component.$refs.theCanvas, this.blurRadius);
      }
    },
    canvasBlurOnScroll() {
      // Gaussian Blur based on up and down scroll
      const component = this;

      if (this.onScreen) {
        if (window.scrollY > this.windowPrevPosition) {
          if (this.blurRadius !== 0) {
            this.blurRadius -= 1;
            StackBlur.image(component.$refs.theImg, component.$refs.theCanvas, this.blurRadius);
          }
        } else if (this.blurRadius !== 100) {
          this.blurRadius += 1;
          StackBlur.image(component.$refs.theImg, component.$refs.theCanvas, this.blurRadius);
        }
      }

      this.windowPrevPosition = window.scrollY;
    },
    canvasSet() {
      const component = this;

      this.$refs.theCanvas.width = this.$refs.theImageWrap.offsetWidth;
      this.$refs.theCanvas.height = this.$refs.theImageWrap.offsetHeight;

      setTimeout(() => {
        StackBlur.image(component.$refs.theImg, component.$refs.theCanvas, this.blurRadius);
      }, 100);
    },
    togglePanel(i) {
      if (this.activePanel === i) {
        this.activePanel = {};
      } else {
        this.activePanel = i;
      }
    },
  },
};
</script>

<style lang="scss">
.pillarMain {
  @include breakpoint(medium) {
    padding-bottom: calc(50vh - 190px);
    margin-bottom: calc(-50vh + 190px);
  }

  @include breakpoint(xlarge) {
    padding-bottom: calc(50vh - 223.5px);
    margin-bottom: calc(-50vh + 223.5px);
  }

  .paragraph--large,
  .paragraph--medium-large,
  .paragraph--medium {
    color: $blue-navy;
    transition:
      transform 1s cubic-bezier(0.215, 0.61, 0.355, 1),
      opacity 1s cubic-bezier(0.215, 0.61, 0.355, 1);

    @include breakpoint(medium) {
      opacity: 0;
      transform: translateX(100px);
    }
  }

  .paragraph--medium + .pillarMain__accordion,
  .paragraph--medium + .pillarMain__accordion {
    margin-top: 20px;
  }
}

.pillarMain .active {
  .pillarMain__contentBorder {
    width: 35px;
  }

  .paragraph--large,
  .paragraph--medium-large,
  .paragraph--medium,
  .pillarMain__accordion {
    opacity: 1;
    transform: translateX(0);
  }
}

.pillarMain__inner {
  @include flex-grid-row;
  position: relative;
}

.pillarMain__image {
  @include flex-grid-column(12);
  margin-bottom: 50px;
  // position: absolute;
  // top: 0;
  // width: 100%;
  // height: 100%;

  @include breakpoint(medium) {
    @include flex-grid-column(6);
    @include grid-column-offset(1);
    margin-bottom: 0;
    // position: static;
    // top: auto;
    // width: auto;
    // height: auto;
  }

  @include breakpoint(xlarge) {
    @include flex-grid-column(7);
    @include grid-column-offset(0);
  }
}

.pillarMain__content {
  @include flex-grid-column(10);
  @include grid-column-offset(1);
  // padding-top: 340px;
  padding-bottom: 100px;

  @include breakpoint(medium) {
    @include flex-grid-column(4);
    @include grid-column-offset(0);
    // padding-top: 0;
    // padding-bottom: 30vh;
  }

  @include breakpoint(xlarge) {
    @include flex-grid-column(5);
  }
}

.pillarMain__contentIntro + .pillarMain__contentDescript,
.pillarMain__contentDescript + .pillarMain__contentAccordion {
  margin-top: 30px;

  @include breakpoint(medium) {
    margin-top: 20vh;
  }
}

.pillarMain__contentBorder {
  display: block;
  height: 5px;
  width: 0;
  transition: $transition-long width cubic-bezier(0.215, 0.61, 0.355, 1);
}

.pillarMain__contentBorder + .paragraph--large {
  margin-top: 10px;
}

.pillarMain__contentBorder + .paragraph--medium,
.pillarMain__contentBorder + .paragraph--medium-large {
  margin-top: 20px;
}

.pillarMain__accordion {
  padding: 0;
  transition:
    transform 1s cubic-bezier(0.215, 0.61, 0.355, 1),
    opacity 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-delay: 0.2s;

  @include breakpoint(medium) {
    opacity: 0;
    transform: translateX(100px);
  }
}

.pillarMain__accordionPanel {
  list-style-type: none;
}

.pillarMain__accordionPanel--active {
  .pillarMain__accordionContent {
    max-height: 300px;
    opacity: 1;
    visibility: visible;
  }

  .pillarMain__accordionBtnSvgCircle {
    fill: $blue;
  }

  .pillarMain__accordionBtnSvgStroke {
    stroke: $blue;
  }

  .pillarMain__accordionBtnSvgStroke.one {
    opacity: 0;
  }

  .pillarMain__accordionBtn {
    color: $blue;
  }
}

.pillarMain__accordionPanel + .pillarMain__accordionPanel {
  margin-top: 10px;
}

.pillarMain__accordionBtnSvg {
  position: absolute;
  top: 5px;
  left: 0;
  width: 15px;
  height: 15px;
}

.pillarMain__accordionBtnSvgCircle,
.pillarMain__accordionBtnSvgStroke {
  transition:
    $transition-medium fill ease-in-out,
    $transition-medium stroke ease-in-out,
    $transition-medium opacity ease-in-out;
}

.pillarMain__accordionBtnSvgCircle {
  fill: $blue-periwinkle;
}

.pillarMain__accordionBtnSvgStroke {
  fill: none;
  stroke: $blue-periwinkle;
  stroke-miterlimit: 10;
}

.pillarMain__accordionBtn {
  @include paragraph--medium;
  position: relative;
  padding-left: 50px;
  font-weight: 700;
  text-align: left;
  color: $blue-navy;
  cursor: pointer;
  background-color: transparent;
  transition: $transition-medium color ease-in-out;
}

.pillarMain__accordionBtn + .pillarMain__accordionContent {
  margin-top: 8px;
}

.pillarMain__accordionContent {
  max-height: 0;
  overflow: hidden;
  padding-left: 60px;
  opacity: 0;
  visibility: hidden;
  transition:
    $transition-medium opacity,
    $transition-medium max-height,
    $transition-medium visibility;
}

.pillarMain__accordionParagraph {
  font-family: "Museo-Sans";
  font-size: rem-calc(14px);
  font-weight: 500;
  line-height: (20 / 14);
  color: $blue-navy;
  -webkit-font-smoothing: antialiased;
}

.pillarMain__imageRail {
  @include breakpoint(medium) {
    position: relative;
    height: 100%;
  }
}

.pillarMain__imageStickyWrap {
  // padding-top: 60px;

  @include breakpoint(medium) {
    padding-top: calc(50vh - 190px);
  }

  @include breakpoint(xlarge) {
    padding-top: calc(50vh - 223.5px);
  }
}

.pillarMain__imageStickyWrap--desktop {
  display: none;

  @include breakpoint(medium) {
    display: block;
  }
}

.pillarMain__imageStickyWrap--mobile {
  display: block;

  @include breakpoint(medium) {
    display: none;
  }
}

.pillarMain__imageWrap {
  position: relative;
  overflow: hidden;
  height: 240px;
  margin: 0 -20px 0 -15px;

  @include breakpoint(medium) {
    height: 380px;
    margin: 0;
  }

  @include breakpoint(xlarge) {
    height: 447px;
  }
}

.pillarMain__border {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  display: none; // REMOVE LINE FOR BLUR
  width: 100%;
  height: 100%;
  // box-shadow: 0 0 100px 100px white inset;
  // transition: $transition-short box-shadow;
}

.pillarMain__imageImg {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.pillarMain__imageImg--overlay {
  z-index: 2;
  display: none; // REMOVE LINE FOR BLUR
}

.pillarMain__canvas {
  position: absolute;
  top: 0;
  left: 0;
}
</style>
