<template>
  <intersection
    @enter="onScreenTrigger()"
    @leave="onScreen = false"
  >
    <section class="pillarsContainer">
      <nav
        class="stickyNav"
        :class="{'stickyNav--active': onScreen === true}"
      >
        <logo
          ref="stickyNavLogo"
          class="stickyNav__logo"
          :darkMode="true"
        />
        <ul class="stickNav__list">
          <li class="stickyNav__item">
            <a
              class="stickyNav__btn--contact"
              href="https://giving.jefferson.edu/giving/about/contact.html"
              target="_blank"
              v-text="'Contact'"
            />
          </li>
          <li class="stickyNav__item">
            <a
              class="buttonGlobal--red"
              href="https://giving.jefferson.edu/giving/online-giving/reimagine.html?utm_source=19Q0024"
              target="_blank"
              v-text="'Donate'"
            />
          </li>
        </ul>
      </nav>
      <div
        class="pillarsContainer__navRail"
        sticky-container
      >
        <div
          class="pillarsContainer__navWrap"
          v-sticky
        >
          <div class="pillarsContainer__navWrapInner">
            <svg
              class="pillarsContainer__cornocopia"
              :style="{'fill': activePillar.color, 'transform': `rotate(${cornocopiaPosition}deg)`}"
              viewBox="0 0 45.6 46.7"
            >
              <path d="M45.4,21.6l-0.4,0l-0.3,0.2c0.1,0.2,0.2,0.6,0.2,
              0.7c-0.1,0-0.4,0.1-0.8,0.2c0-1.2-0.1-2.2-0.1-2.8c0.3,0.7,
              0.5,1.3,0.7,1.8l0.4-0.1L45.4,21.6L45.4,
              21.6c-0.1-0.3-1-2.5-1.8-4.6c0.6-0.4,
              1-0.6,1-0.6c0.2-0.1,0.3-0.3,0.3-0.5c0.1-0.4-0.2-0.7-0.4-1.1
              l-0.1-0.2c0,0-1.8-2-3.4-3.8c0.3-0.3,0.4-0.5,0.5-0.6c0.3-0.3,0.4-0.5,
              0.3-0.8c-0.1-0.5-0.5-0.8-1.1-1.2l-0.3,0.3L40.3,9
              c0.3,0.2,0.8,0.5,0.8,0.7c0,0,0,0.1-0.1,0.2c-0.1,
              0.1-0.2,0.2-0.4,0.5c-1-1.2-1.9-2.2-2-2.3c0,
              0-0.1-0.1-0.1-0.1c1,0.5,1.8,0.9,1.9,1l0.2-0.3l0.2-0.3l0,0c0,
              0-2.2-1.1-4.2-2.2c0.2-0.6,0.4-1,0.4-1.1c0.1-0.3,0.1-0.5,0-0.7C36.7,4,
              36.3,3.9,36,3.8c-0.1,0-0.1,0-0.2-0.1l-0.1,0c0,
              0-2.9-0.4-5.5-0.7c0-0.9,
              0-1.5,0-1.5c0-0.3-0.1-0.5-0.3-0.6c-0.3-0.2-0.6-0.1-0.9-0.1l-0.2,
              0c0,0-3,0.7-5.6,1.2c-0.4-1-0.6-1.7-0.6-1.7c-0.1-0.2-0.2-0.3-0.4-0.4c-0.3-0.1-0.7,
              0.1-1,0.3l-0.1,0.1c-0.1,0.1-1,0.7-2.2,1.5c-0.8,0.5-1.7,
              1.2-2.6,1.7c-0.7-0.8-1.1-1.3-1.1-1.4c-0.2-0.2-0.5-0.3-0.6-0.3c-0.4,0-0.7,
              0.3-0.9,0.6l0,0c0,0-1.9,2.7-3.5,4.8C9.6,
              6.8,8.9,6.4,8.6,6.3C8.4,6.1,8.2,6.1,8,6.2C7.7,6.3,7.6,
              6.6,7.5,6.9L7.4,7.1c0,0.1-0.9,
              3.3-1.7,6c-1.3-0.3-2.1-0.4-2.2-0.5c-0.1,0-0.4-0.1-0.6,0.2c-0.2,
              0.2-0.2,0.5-0.1,0.8c0,0.1,0,0.1,0,0.2c0,0.3,0.2,3.6,0.4,
              6.4c-1.3,0.2-2.1,0.3-2.3,0.3c-0.3,0-0.7,0.1-0.9,0.4c-0.2,
              0.3,0,0.6,0.1,0.8c0,0.1,0.1,0.1,0.1,0.2l0,0c0,0,1.5,3.1,
              2.8,5.9c-0.9,0.5-1.5,0.8-1.6,0.8l-0.1,0.1c-0.4,0.2-1,
              0.5-1,0.9c0,0.2,0,0.4,0.3,0.7c0.3,0.2,2.1,2.1,4,3.9c0.3,0.3,
              0.7,0.7,0.9,0.9c-1,1.1-1.7,1.8-1.8,1.9c-0.2,0.2-0.5,0.6-0.4,
              0.9c0.1,0.3,0.3,0.5,0.5,0.6c0.1,0,1.1,0.5,3.7,1.7c0.9,0.4,1.9,
              0.9,2.8,1.3C9.6,43,9.2,44,9.2,44c-0.2,0.5-0.3,0.9-0.1,1.1c0.2,
              0.3,0.5,0.3,0.7,0.3c0.1,0,1.9,0.2,5,0.5c3.3,0.3,7.4,0.7,
              7.8,0.7c0.1,0,0.1,0,0.2,0c0.8,0,1.2-0.9,1.3-1.3l-0.3-0.2l0.3,0.1c0.2-0.5,
              3-7.1,5.3-12.4c2.3,2.6,4.3,4.8,4.7,5.1c0.5,0.6,0.7,0.7,1,0.7c0,0,0,0,0,0
              c0.2,0,0.4-0.1,0.5-0.2c0,0,0.1-0.1,0.1-0.1l0.1-0.1c0.8-1.1,2.1-2.6,
              3.1-4c0.2,0.1,0.3,0.1,0.3,0.2c0.1,0,0.1,0.1,0.2,0.1c0.2,0.1,0.4,0.3,0.7,
              0.3c0.1,0,0.1,0,0.2,0c0.3-0.1,0.5-0.5,0.6-0.7c0.1-0.2,
              0.8-2.6,1.5-4.8c0.6,0.1,0.9,0.1,1,0.1c0,0,0.1,0,0.1,0c0.1,0,0.3-0.1,
              0.4-0.1c0.3-0.3,0.4-0.8,0.4-1.9v0c0,0-0.1-2.1-0.1-4.2c0.6-0.1,1-0.2,
              1.1-0.2c0.2,0,0.3-0.1,0.4-0.3C45.8,22.6,45.6,22.1,45.4,21.6z M43.9,
              15.2l0.1,0.1c0.1,0.2,0.3,0.4,0.3,
              0.5c0,0-0.3,0.2-0.9,0.5c-0.5-1.4-1-2.6-1.1-2.9C43.1,14.3,43.7,
              15.1,43.9,15.2z M40.5,23.4c-0.6-0.3-1.2-0.6-1.9-1c-0.8-0.4-1.5-0.8-2.2-1.1c1.4-0.8,
              2.7-1.6,3.9-2.3c1.2,0.1,2.1,0.3,2.2,0.3c0.1,0,0.1,0,0.2,0c0.3,
              0,0.4,0.1,0.4,0.5c0,0.4,0,1.7,0.1,3.2C42.6,23,41.6,23.2,40.5,
              23.4z M43.4,23.6c0,0.4,0,0.9,0,1.3c-0.1-0.1-0.3-0.2-0.4-0.3c-0.1,
              0-0.6-0.3-1.3-0.7C42.3,
              23.8,42.9,23.7,43.4,23.6z M40.2,18.2c-1.2-0.1-2.8-0.3-4.7-0.6c1-1.2,
              1.9-2.3,2.8-3.3c1.5-0.3,2.6-0.5,2.7-0.6c0.2,0,0.3-0.1,0.4-0.1c0.1,0,
              0.1,0,0.1-0.1c0,0,0,0,0.1,0.2c0.1,0.2,0.6,1.5,1.2,3C42.1,17.1,41.2,
              17.6,40.2,18.2zM34.6,17.5C34.6,17.5,34.6,17.5,34.6,17.5c-0.3,0-0.7,
              0-1-0.1c-0.4,0-0.8-0.1-1.2-0.1c0.2-0.4,0.3-0.9,0.5-1.4c0.1-0.2,0.1-0.3,
              0.2-0.5c1.4-0.3,2.8-0.6,4-0.9C36.3,15.4,35.5,16.4,34.6,17.5z M40.6,
              11.5c0.4,0.5,0.8,0.9,1.2,1.4c-0.2-0.1-0.5,0-0.6,0
              c-0.1,0-0.2,0.1-0.2,0.1c-0.1,0-0.8,0.1-1.9,0.4C39.7,12.6,40.2,12,40.6,11.5z M40.1,
              11c-0.6,0.7-1.3,1.6-2.2,2.6
              c-1.2,0.3-2.7,0.6-4.5,1c0.6-1.5,1.1-3,1.6-4.4c1.5-0.9,2.5-1.6,2.6-1.6c0.1,0,
              0.2-0.1,0.2-0.1c0,0,0,0,0.1,0.1
              C38.1,8.7,39,9.7,40.1,11z M37.9,7.7c-0.2,0-0.5,0.1-0.7,0.2c-0.1,0-0.8,
              0.5-1.9,1.1c0.3-0.8,0.6-1.6,0.8-2.2
              C36.8,7.1,37.4,7.4,37.9,7.7z M30.3,3.8c2.4,0.3,5,0.6,5.4,0.7c0.1,
              0,0.1,0,0.2,0.1c0.1,0,0.3,0.1,0.4,0.1c0,0,0,0.1,0,0.1
              c0,0.1-0.2,0.5-0.4,1c-1-0.5-1.9-1-2.2-1.2c-0.9-0.5-1.4-0.5-1.8,
              0l-0.1,0.1c-0.1,0.1-0.6,0.8-1.4,1.8C30.3,5.5,30.3,4.5,30.3,3.8z
              M30.3,7.7c1.1-1.4,2-2.4,2-2.5L32.4,5c0,0,0.1-0.1,0.1-0.1c0,0,
              0,0,0,0c0.1,0,0.2,0,0.7,0.3c0.4,0.2,1.3,0.7,2.4,1.3
              c-0.3,0.8-0.7,1.9-1.2,3.2c-1.1,0.7-2.5,1.6-4.1,2.6C30.3,10.7,30.3,
              9.1,30.3,7.7z M30.3,13.1c1.2-0.8,2.5-1.6,3.7-2.3
              c-0.5,1.2-0.9,2.6-1.4,3.9c-0.4,0.1-0.9,0.2-1.4,0.3c-0.3,0.1-0.6,
              0.1-0.9,0.2C30.2,14.5,30.3,13.8,30.3,13.1z M29.2,1.6l0.1,0
              c0.1,0,0.3-0.1,0.3,0c0,0,0,0.5,0,1.4c-1.5-0.2-2.8-0.3-2.9-0.4c-0.4-0.1-0.7-0.1-1.1,
              0.4c-0.1,0.1-0.4,1.1-0.9,2.6
              c-0.4-1-0.7-2-0.9-2.7C26.1,2.3,28.9,1.7,29.2,1.6z M29.3,
              7.7c-0.8,1-1.8,2.2-2.8,3.5c-0.5-1.5-1-3-1.5-4.4c0.6-1.8,1.1-3.2,
              1.2-3.3
              c0-0.1,0.1-0.1,0.1-0.1c0.1,0,0.2,0,0.3,0c0.2,0,1.4,0.2,3,0.4c0,1,0,2.3,0,
              3.7C29.5,7.5,29.4,7.6,29.3,7.7z M29.5,8.6
              c0,1.3,0,2.7,0,4.1c-0.3,0.2-0.7,0.4-1.1,0.7c-0.3,0.2-0.6,
              0.4-0.9,0.6c-0.2-0.7-0.5-1.3-0.7-2C27.8,10.8,28.7,9.7,29.5,8.6z
               M26,11.8c-0.5,0.6-1,1.2-1.4,1.8c-0.4-0.6-0.9-1.1-1.3-1.7c0.5-1.4,1-2.8,
               1.4-4.1C25.1,9.1,25.5,10.5,26,11.8z M22.9,3
              c0.4,1,0.8,2.3,1.3,3.7c-0.5,1.4-1,2.9-1.5,
              4.5c0,0,0-0.1-0.1-0.1c-1.1-1.4-2.1-2.6-2.9-3.7c0-1.8,
              0-3.1,0-3.3c0-0.3,0-0.4,0.5-0.5
              C20.4,3.5,21.6,3.3,22.9,3z M22.4,12.1c-0.3,0.8-0.5,1.5-0.7,
              2.2c-0.6-0.4-1.3-0.8-1.9-1.2c0-1.4,0-2.8-0.1-4.1c0-0.1,
              0-0.2,0-0.3
              c0.8,1,1.5,1.9,2.3,2.9C22.2,11.8,22.3,11.9,22.4,12.1z M22.5,0.5l-0.4,
              0.1c0,0,0,0,0,0L22.5,0.5z M19.6,2.5
              c1.2-0.8,2.1-1.4,2.2-1.4l0.1-0.1c0.1,0,0.2-0.1,0.3-0.2c0.1,0.2,
              0.3,0.7,0.5,1.5c-1.3,0.3-2.4,0.5-2.7,0.6
              c-1.1,0.2-1.1,0.9-1.1,1.4c0,0.1,0,1,0,2.3c-0.7-0.9-1.3-1.7-1.9-2.3C17.9,
              3.6,18.8,3,19.6,2.5z M9.4,20c1.5-0.2,3.2-0.4,4.8-0.7
              c0.5,0.6,1,1.2,1.5,1.8c-0.8,0.4-1.6,0.8-2.4,1.2C12,21.6,10.6,20.8,9.4,20z M14.9,
              24.2c0.2,0.1,0.3,0.2,0.5,0.3
              c-0.6,0.7-1.2,1.3-1.9,2c-0.5-0.1-1-0.2-1.6-0.3c-1.1-0.2-2.2-0.4-3.1-0.6c1.4-0.7,
              2.9-1.5,4.5-2.3C13.8,23.6,14.3,23.9,14.9,24.2z
               M12.5,22.8c-1.7,0.9-3.4,1.7-4.9,2.5C6,25,4.8,24.8,4.7,
               24.7c-0.3-0.1-0.4-0.2-0.5-0.5c0-0.2-0.1-1.6-0.2-3.5
              c1.2-0.2,2.6-0.3,4.2-0.6C9.2,20.8,10.7,21.7,12.5,22.8z M7.7,26.1c1.1,
              0.2,2.4,0.5,4.1,0.8c0.4,0.1,0.7,0.1,1.1,0.2
              c-1.4,1.5-2.8,3-4.1,4.3c-1.3,0.2-2.1,0.3-2.1,0.3c-0.1,0-0.2,0-0.3,0c-0.5,
              0.1-0.5,0-0.6-0.2c-0.1-0.2-0.9-1.8-1.7-3.6
              C5.1,27.5,6.3,26.9,7.7,26.1z M9.2,32.2c1.5-0.2,3.4-0.5,5.5-0.8c-0.8,
              1.9-1.7,3.8-2.4,5.5c-1,0.5-1.7,0.9-1.9,1
              c-0.6,0.4-0.8,0.3-0.9,0.1c-0.1-0.1-1.5-1.5-3-3C7.3,34.3,8.2,33.3,9.2,
              32.2z M10,31.3c1.2-1.3,2.5-2.6,3.7-4
              c0.8,0.2,1.7,0.3,2.5,0.5c-0.4,0.9-0.8,1.8-1.2,2.7C13.3,30.9,11.5,
              31.1,10,31.3z M14.4,26.7c0.6-0.6,1.1-1.2,1.7-1.8
              c0.4,0.3,0.8,0.5,1.2,0.7c-0.2,0.5-0.4,1-0.7,1.5C15.9,27,15.2,26.9,
              14.4,26.7z M15.9,24c-0.2-0.1-0.4-0.3-0.7-0.4
              c-0.4-0.2-0.8-0.5-1.2-0.7c0.7-0.4,1.4-0.7,2.1-1.1c0.3,0.3,0.6,0.7,0.8,1C16.7,
              23.2,16.3,23.6,15.9,24z M15.1,19.3
              c0.7-0.1,1.5-0.2,2.2-0.3c0.1,0.4,0.3,0.8,0.4,1.2c-0.4,0.2-0.9,0.4-1.3,0.7C15.9,
              20.3,15.5,19.8,15.1,19.3z M14.5,18.6
              c-1-1.2-2-2.4-2.9-3.5c1.5,0.3,3,0.6,4.6,1c0.3,0.7,0.5,1.4,0.8,2.2C16.2,18.4,
              15.3,18.5,14.5,18.6z M16.7,15.4
              c-0.5-1.5-1.1-3-1.6-4.3c1.2,0.8,2.6,1.6,3.9,2.4c0,0.8,0,1.6,0,2.4C18.3,15.7,
              17.5,15.6,16.7,15.4z M18.9,7.7c0,0.4,0,0.8,0,1.3
              c0,1.1,0,2.4,0.1,3.6c-1.5-0.9-2.9-1.9-4.3-2.7c-0.6-1.7-1.1-3-1.1-3.2c0-0.3,
              0-0.3,0.4-0.5c0.2-0.1,1.2-0.8,2.5-1.6
              C17.1,5.4,18,6.5,18.9,7.7z M14.6,2.9c0.2-0.3,0.3-0.3,0.3-0.3C15,2.8,
              15.4,3.2,16,4c-1.2,0.8-2.1,1.4-2.4,1.6
              c-0.7,0.4-0.8,0.7-0.8,1.4c0,0.1,0.2,0.7,0.8,2.4c-0.9-0.6-1.8-1.1-2.5-1.6C12.7,
              5.6,14.5,3.1,14.6,2.9z M10.7,8.3
              c1,0.6,2.1,1.3,3.4,2.1c0.4,1.2,1,2.7,
              1.8,4.8c-1.7-0.4-3.4-0.7-5-1.1c-1.2-1.4-2-2.5-2.1-2.6c-0.1-0.3-0.2-0.4,0.3-0.9
              C9.2,10.3,9.8,9.4,10.7,8.3z M8.2,7.3l0.1-0.2c0-0.1,
              0.1-0.2,0-0.2c0,0,0,0,0.1,0C8.5,7,9.1,7.4,10,8C9.2,9,8.6,9.9,8.4,10.1
              C7.7,11,7.8,11.4,8,11.9c0,0.1,0.7,0.9,1.6,
              2.1c-1.2-0.3-2.3-0.5-3.2-0.7C7.2,10.6,8.1,7.5,8.2,7.3z M6.3,
              14c1.1,0.2,2.6,0.5,4.1,0.9c0.9,1.1,2.1,2.5,3.2,3.9c-1.8,
              0.2-3.6,0.5-5.3,0.7c-1.6-1-2.8-1.7-2.9-1.8c-0.1-0.2-0.1-0.5,0.1-1
              C5.6,16.4,5.9,15.3,6.3,14z M5.5,13.8c-0.4,1.3-0.7,2.4-0.8,2.6c-0.2,
              0.8-0.2,1.3,0.1,1.7c0.1,0.1,0.3,0.2,2.3,1.5
              C6,19.7,4.9,19.9,4,20c-0.1-2.1-0.3-4.6-0.4-6.3l0,0c0-0.1,
              0-0.2,0-0.3c0,0,0,0,0,0C3.8,13.4,4.5,13.6,5.5,13.8z M1,21.5
              c0-0.1-0.1-0.1-0.1-0.2c0,0,0-0.1-0.1-0.1c0.1,0,0.1,0,0.2,0c0.2,
              0,1-0.1,2.2-0.3c0.1,1.8,0.2,3.2,0.2,3.5c0.1,0.9,0.7,1.1,1,1.1
              c0.1,0,0.7,0.2,2.1,0.4c-1.1,0.6-2,1.1-2.8,1.5C2.4,24.6,1,21.6,
              1,21.5z M5.1,33.6c-1.9-1.9-3.7-3.7-4-4c0-0.1,0.2-0.2,0.6-0.4
              l0.1-0.1h0c0,0,0.6-0.3,1.6-0.8C4.3,30.2,5,31.8,5.1,32c0.2,0.5,0.6,
              0.6,1,0.6c0.2,0,0.3,0,0.4,0c0.1,0,0.2,0,0.2,0
              c0,0,0.5-0.1,1.3-0.2c-0.7,0.8-1.4,1.5-2,2.2C5.7,
              34.2,5.4,33.9,5.1,33.6z M7.7,39.6c-1.8-0.8-3.5-1.6-3.7-1.7c0,0,0,0-0.1,0
              c0,0,0,0,0,0c0,0,0.1-0.1,0.2-0.3C4.4,37.4,5,36.7,6,35.6c2.4,2.4,
              3,3,3.1,3.1c0.2,0.1,0.4,0.2,0.7,0.2c0.3,0,0.6-0.1,1.1-0.4
              c0.1-0.1,0.5-0.3,1-0.5c-0.5,1.1-0.9,2-1.3,2.9C9.6,40.4,8.7,40,
              7.7,39.6z M23.4,45.1L23.4,45.1C23.2,45.7,23,46,22.7,46
              c-0.4-0.1-4.3-0.4-7.8-0.7c-2.5-0.2-4.8-0.4-4.9-0.5l-0.1,0c0,
              0,0,0-0.1,0c0-0.1,0-0.2,0.1-0.4c0.1-0.3,0.5-1.2,1.1-2.4
              c1.9,0.9,3.5,1.6,3.8,1.8c0.3,0.1,0.5,0.2,0.7,0.2c0.6,0,1-0.5,1.2-0.7c0,
              0,0.1-0.1,0.1-0.1c1-1.1,7.2-7.8,11-11.9
              c0.4,0.4,0.8,0.8,1.1,1.2C27.1,36.5,24.9,41.6,23.4,45.1z M35.1,
              38C35.1,38,35.1,38,35.1,38c-0.2,0-0.3-0.1-0.5-0.4
              c-0.3-0.4-2.5-2.7-4.9-5.4c0.3-0.7,0.6-1.5,0.9-2.1c1.6,0.9,5.6,3,7.5,
              4C36.8,35.8,35.4,37.7,35.1,38z M38.6,33.5
              c-1.8-1-5.8-3.1-7.5-4c-0.4,0.3-0.9,0.7-1.4,0.9c-0.2,0.4-0.3,0.8-0.5,
              1.2c-0.2-0.2-0.4-0.5-0.7-0.7c-0.6,0.2-1.3,0.4-2,0.4
              c-3.3,3.6-8,8.7-10.3,11.2l0,0c0,0-0.1,0.1-0.1,0.2c-0.3,0.3-0.5,0.5-1,
              0.3c-0.4-0.2-2-0.9-3.9-1.8c0.5-1.1,1-2.4,1.7-3.8
              c1.8-1,4.5-2.4,7.1-3.8c1.9-1,3.4-1.8,4.5-2.4c-0.4-0.1-0.8-0.1-1.1-0.2c-1.2,
              0.6-2.5,1.3-3.7,2c-2.3,1.2-4.6,2.4-6.3,3.3
              c0.7-1.6,1.5-3.3,2.2-5c2.1-0.3,4.3-0.6,6.2-0.9c-0.3-0.2-0.7-0.4-1-0.6c-1.5,
              0.2-3.2,0.5-4.9,0.7c0.4-0.8,0.7-1.7,1.1-2.5
              c0.8,0.2,1.6,0.3,2.4,0.5c-0.3-0.3-0.5-0.6-0.7-0.9c-0.4-0.1-0.9-0.2-1.4-0.3c0.2-0.4,
              0.4-0.8,0.6-1.3c-0.1-0.4-0.3-0.7-0.4-1.1
              c-0.3-0.2-0.7-0.4-1-0.6c0.3-0.3,0.5-0.6,0.8-0.8c0-0.2,
              0-0.4,0-0.7c0-0.3,0-0.6,0-0.9c-0.2-0.2-0.3-0.4-0.5-0.6
              c0.2-0.1,0.4-0.2,0.6-0.3c0.1-0.7,0.4-1.3,0.6-1.9c0-0.1-0.1-0.2-0.1-0.3c0.1,
              0,0.2,0,0.3,0c0.2-0.3,0.3-0.6,0.5-0.8
              c-0.4,0-0.7,0.1-1.1,0.2c-0.2-0.6-0.5-1.3-0.7-1.9c0.7,0.1,
              1.4,0.3,2,0.4c0,0.4,0,0.7,0,1c0.2-0.3,0.5-0.6,0.7-0.9c0,0,0,0,0,0
              c0,0,0,0,0,0c0.2-0.2,0.5-0.4,0.7-0.6c-0.2-0.1-0.5-0.1-0.7-0.2c0-0.7,0-1.4,
              0-2.1c0.6,0.3,1.1,0.7,1.6,1c-0.1,0.3-0.2,0.5-0.3,0.7
              c0.5-0.3,1-0.6,1.5-0.8c-0.1-0.1-0.3-0.2-0.4-0.3c0.2-0.6,0.4-1.3,0.7-1.9c0.4,
              0.5,0.8,1,1.1,1.4c-0.1,0.2-0.2,0.3-0.3,0.4
              c0.5-0.1,1-0.2,1.5-0.2c-0.1-0.1-0.1-0.1-0.2-0.2c0.4-0.5,0.8-1,1.2-1.6c0.2,
              0.6,0.4,1.1,0.6,1.7c0,0-0.1,0-0.1,0.1
              c0.4,0,0.7,0.1,1.1,0.2c0.3-0.2,0.6-0.4,1-0.6c0.2-0.1,0.4-0.3,0.7-0.4c0,0.5,
              0,1.1,0,1.6c0.4,0.2,0.8,0.4,1.2,0.7
              c0.2,0,0.4-0.1,0.6-0.1c0.3-0.1,0.6-0.1,0.9-0.2c-0.2,0.4-0.3,0.8-0.5,1.2c0.4,
              0.4,0.7,0.8,1,1.2c0.2,0,0.5,0.1,0.7,0.1
              c0.2,0,0.3,0,0.5,0.1c-0.2,0.3-0.4,0.5-0.7,0.8c0.1,0.2,0.2,0.5,
              0.3,0.8c0.4-0.5,0.8-0.9,1.2-1.5c1.5,0.2,3,0.4,4.3,0.5
              c-1.1,0.7-2.3,1.4-3.5,2.1c-0.7-0.4-1.3-0.7-1.9-1c0.1,0.3,0.2,
              0.7,0.3,1c0.3,0.1,0.6,0.3,0.9,0.4c-0.2,0.1-0.5,0.3-0.7,0.4
              c0,0.3,0.1,0.6,0.1,0.8c0.5-0.3,0.9-0.6,1.4-0.8c0.9,0.5,1.8,
              0.9,2.6,1.3c0.4,0.2,0.7,0.4,1.1,0.6c-1.2,0.2-2.4,0.5-3.7,0.7
              c-0.4-0.5-0.9-0.9-1.3-1.4c0,0.3,0,0.7-0.1,1c0.2,0.2,0.4,0.4,0.5,
              0.6c-0.2,0-0.4,0.1-0.6,0.1c-0.1,0.3-0.1,0.5-0.2,0.8
              c0.5-0.1,1-0.2,1.5-0.3c1,1.1,2,2.1,2.8,3c-1.6-0.2-3.4-0.5-5.2-0.8c-0.1,
              0.2-0.3,0.5-0.5,0.7c1.8,0.3,3.9,0.6,6.5,1
              c0.8,0.8,1.3,1.4,1.4,1.5c0,0.1,0.1,0.1,0.1,0.2c0.1,0.1,0.1,0.2,0.1,
              0.2c0,0,0,0-0.1,0.2C40.4,31.2,39.6,32.3,38.6,33.5z M40.1,34
              C40,34.2,40,34.3,40,34.3c-0.1,0-0.2-0.1-0.3-0.2c-0.1,0-0.2-0.1-0.2-0.1c0,
              0-0.1-0.1-0.2-0.1c0.6-0.8,1.1-1.5,1.5-1.9
              C40.4,33.1,40.1,33.9,40.1,34z M41.3,30.4c0-0.1-0.1-0.1-0.1-0.2L41,
              30.1c0-0.1-0.3-0.4-0.8-0.9c0.1,0,0.2,0,0.2,0
              c0.4,0.1,0.8,0.1,1.1,0.2C41.5,29.7,41.4,30.1,41.3,30.4z M41.8,
              28.7c-0.4-0.1-0.8-0.1-1.3-0.2c-0.4-0.1-0.7-0.1-1.2-0.2
              c-0.9-0.9-2-2.1-3.1-3.3c1.6-0.3,3-0.6,4.2-0.8c1.4,0.7,
              2.1,1.1,2.2,1.2c0.1,0,0.2,0.1,0.2,0.1c0,0,0,0,0,0.1
              C42.8,25.6,42.3,27,41.8,28.7z M43.4,28.9c-0.1,0-0.4-0.1-0.8-0.1c0.4-1.2,
              0.7-2.2,0.9-2.7c0,0.9,0,1.5,0,1.6
              C43.5,28.5,43.4,28.8,43.4,28.9z M42.9,18.5c-0.1,0-0.1,0-0.2,
              0c-0.1,0-0.5-0.1-1.3-0.2c0.6-0.3,1.1-0.7,1.6-0.9
              c0.2,0.4,0.3,0.9,0.5,1.3C43.3,18.6,43.1,18.5,42.9,18.5z"/>
            </svg>
            <ul class="pillarsNav">
              <li
                v-for="(pillar, index) in pillars"
                :key="`pillarBtn_${index}`"
                class="pillarsNav__item"
              >
                <button
                  is="LinkScroller"
                  :href="`#pillar__${pillar.title}`"
                  class="pillarsNav__btn"
                  :class="{ 'pillarsNav__btn--active': activePillar === pillar }"
                >
                  <span class="pillarsNav__btnInner">
                    <div
                      class="pillarsNav__btnDot"
                      :style="[activePillar === pillar ?
                      {'border-color': activePillar.color, 'background-color': activePillar.color}
                      : {'border-color': '#737777', 'background-color': 'transparent'}]"
                    />
                    <div
                      class="pillarsNav__btnText"
                    >
                      {{ activePillar.title }}
                      <div
                        class="pillarsNav__btnStroke"
                        :style="{'background-color': activePillar.color}"
                      />
                    </div>
                  </span>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div
        class="pillarsContainer__border"
        :style="{'background-color': activePillar.color}"
      />
      <pillar-group
        v-for="(pillar, index) in pillars"
        :key="`pillar_${index}`"
        :pillar="pillar"
        :id="`pillar__${pillar.title}`"
      />
      <div
        class="pillarsContainerGrid"
        :class="{ 'pillarsContainerGrid--active': onScreen === true }"
      >
        <div
          class="pillarsContainerGrid__line"
          :style="{'background-color': activePillar.color}"
        />
        <div
          class="pillarsContainerGrid__line"
          :style="{'background-color': activePillar.color}"
        />
        <div
          class="pillarsContainerGrid__line"
          :style="{'background-color': activePillar.color}"
        />
        <div
          class="pillarsContainerGrid__line"
          :style="{'background-color': activePillar.color}"
        />
        <div
          class="pillarsContainerGrid__line"
          :style="{'background-color': activePillar.color}"
        />
      </div>
    </section>
  </intersection>
</template>

<script>
import intersection from '@/components/intersection';
import PillarGroup from '@/components/PillarGroup.vue';
import LinkScroller from '@/components/LinkScroller.vue';
import Logo from '@/components/Logo.vue';

export default {
  name: 'PillarsContainer',
  components: {
    intersection,
    PillarGroup,
    LinkScroller,
    Logo,
  },
  props: {
    pillars: {
      type: Array,
      required: true,
    },
  },
  data() {
    return {
      onScreen: false,
      windowPrevPosition: undefined,
      cornocopiaPosition: 0,
      activePillar: {
        title: '',
        color: '',
      },
    };
  },
  created() {
    window.addEventListener('scroll', this.cornocopiaSpin);
  },
  mounted() {
    this.windowPrevPosition = window.scrollY;
  },
  methods: {
    onScreenTrigger() {
      this.onScreen = true;
      this.$refs.stickyNavLogo.onScreen = true;
    },
    cornocopiaSpin() {
      if (this.onScreen) {
        if (window.scrollY > this.windowPrevPosition) {
          this.cornocopiaPosition -= 10;
        } else {
          this.cornocopiaPosition += 10;
        }
      }

      this.windowPrevPosition = window.scrollY;
    },
  },
};
</script>

<style lang="scss">
.pillarsContainer {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  padding-bottom: 80px;

  @include breakpoint(medium) {
    padding-bottom: 170px;
  }
}

.pillarsContainer__navRail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.pillarsContainer__navWrap {
  z-index: 20 !important;
  width: 100%;
  height: 100vh;
  pointer-events: none;
}

.pillarsContainer__navWrapInner {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.pillarsContainer__cornocopia {
  position: absolute;
  top: calc(50% - 23px);
  left: 22px;
  display: none;
  width: 46px;
  height: 46px;
  fill: transparent;
  transform-origin: 56% 48%;
  transition:
    $transition-medium fill ease-in-out,
    $transition-long transform cubic-bezier(0.215, 0.61, 0.355, 1);

    @include breakpoint(large) {
      left: 32px;
      display: block;
    }

    @include breakpoint(xlarge) {
      left: 56px;
    }
}

.pillarsContainer__border {
  // Had to make this position fixed because of performance issues on chrome.
  // Parent div gets very tall and Chrome doesnt seem to like that
  position: fixed;
  top: 0;
  left: 0;
  width: 5px;
  height: 100vh;
  transition: $transition-medium background-color ease-in-out;

  @include breakpoint(medium) {
    width: 6px;
  }

  @include breakpoint(large) {
    width: 15px;
  }
}

.pillarsContainerGrid {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 0;
  opacity: 0;
  transition: 1.2s height cubic-bezier(0.755, 0.05, 0.855, 0.06), $transition-medium opacity ease;
}

.pillarsContainerGrid--active {
  height: 100%;
  opacity: 1;
}

.pillarsContainerGrid__line {
  position: absolute;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: $black;
  opacity: 0.2;
  transition: $transition-medium background-color ease-in-out;

  &:nth-child(1) {
    left: calc(16.6666% - 1px);
  }

  &:nth-child(2) {
    left: calc(33.3333% - 1px);
  }

  &:nth-child(3) {
    left: calc(49.9999% - 1px);
  }

  &:nth-child(4) {
    left: calc(66.6666% - 1px);
  }

  &:nth-child(5) {
    left: calc(83.3333% - 1px);
  }
}

.pillarsNav {
  position: absolute;
  top: 50%;
  right: 20px;
  font-size: 0;
  pointer-events: auto;

  @include breakpoint(medium) {
    right: 30px;
    transform: translateY(-50%);
  }

  @include breakpoint(large) {
    right: 60px;
  }
}

.pillarsNav__item + .pillarsNav__item {
  margin-top: 15px;
}

.pillarsNav__btn {
  position: relative;
  overflow: hidden;
  display: block;
  height: 10px;
  cursor: pointer;
  background-color: transparent;
  transition: $transition-medium height cubic-bezier(0.215, 0.61, 0.355, 1);
  appearance: none;
}

.pillarsNav__btn--active {
  height: 120px;

  .pillarsNav__btnText::after {
    width: 0;
  }

  .pillarsNav__btnStroke {
    width: 30px;
  }
}

.pillarsNav__btnInner {
  display: block;
  width: 100%;
  height: 100%;
}

.pillarsNav__btnDot {
  width: 10px;
  height: 10px;
  border: 1px solid $gray-medium;
  transition:
    1s border-color cubic-bezier(0.215, 0.61, 0.355, 1),
    1s background-color cubic-bezier(0.215, 0.61, 0.355, 1);

  &:hover {
    background-color: $blue-navy !important;
    border-color: $blue-navy !important;
  }
}

.pillarsNav__btnText {
  position: absolute;
  font-family: "Haptik";
  font-size: rem-calc(10px);
  font-weight: 500;
  line-height: (41 / 30);
  letter-spacing: rem-calc(1px);
  text-transform: uppercase;
  color: $blue-navy;
  transform: rotate(90deg);
  transform-origin: 0 90% 0;
  -webkit-font-smoothing: antialiased;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: "";
    background-color: $white;
    transition: $transition-medium width cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-delay: 0.3s;
  }
}

.pillarsNav__btnStroke {
  position: absolute;
  top: calc(50% - 0.5px);
  right: -35px;
  width: 0;
  height: 1px;
  margin: 0 auto;
  transition: $transition-medium width cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-delay: 0.7s;
}

.stickyNav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
  width: 100%;
  height: 60px;
  visibility: hidden;
  background-color: $blue-navy;
  transform: translateY(-100%);
  transition:
    $transition-medium transform cubic-bezier(0.215, 0.61, 0.355, 1),
    $transition-medium visibility cubic-bezier(0.215, 0.61, 0.355, 1);
}

.stickyNav--active {
  visibility: visible;
  transform: translateY(0);
}

.stickNav__list {
  display: flex;
  justify-content: space-between;

  @include breakpoint(medium) {
    justify-content: flex-end;
  }
}

.stickyNav__item {
  display: inline-block;
}

.stickyNav__logo {
  position: absolute;
  top: 50%;
  left: 17px;
  width: 212px;
  transform: translateY(-50%);

  @media screen and (max-width: 320px) {
    width: 170px;
  }
}

.stickyNav__btn {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;

  &--contact {
    @include button--global($white, transparent, $white, transparent);
    display: none;

    @include breakpoint(medium) {
      display: flex;
    }
  }
}
</style>
