<template>
  <div
    class="pillarTitleRail"
  >
    <div
      class="pillarTitleWrap"
    >
      <div class="pillarTitleWrap__inner">
          <h2
            class="pillarTitle"
            :class="{ 'pillarTitle--active': titleOnScreen === true }"
            :data-text="title"
          >
            <intersection
              @enter="titleOnScreen = true"
              root-margin="-10% 0px"
            >
              <span
                class="pillarTitle__text"
                :class="{ 'pillarTitle__text--active': titleOnScreen === true }"
              >
                {{ title }}
              </span>
            </intersection>
            <intersection
              @enter="borderOnScreen = true"
              root-margin="-10% 0px"
            >
              <span
                class="pillarTitle__border"
                :class="{
                  'pillarTitle__border--in': borderOnScreen === true,
                  'pillarTitle__border--out': borderOnScreen === false
                }"
                :style="`background-color: ${ color }`"
              />
            </intersection>
          </h2>
      </div>
    </div>
  </div>
</template>

<script>
import intersection from '@/components/intersection';

export default {
  name: 'PillarTitle',
  components: {
    intersection,
  },
  data() {
    return {
      borderOnScreen: false,
      titleOnScreen: false,
    };
  },
  props: {
    title: {
      type: String,
      default: 'Lorem Ipsum',
    },
    color: {
      type: String,
      default: '#000',
    },
  },
};
</script>

<style lang="scss">
.pillarTitleRail {
  @include breakpoint(medium) {
    height: 60vh;
  }
}

.pillarTitleWrap {
  display: flex;
  align-items: center;
  padding: 50px 0;

  @include breakpoint(medium) {
    height: 70vh;
    padding: 0;
  }
}

.pillarTitleWrap__inner {
  @include flex-grid-column(12);
  @include flex-grid-row;
  position: relative;
}

.pillarTitle {
  position: relative;
  display: block;
  margin: 0 auto;
  font-family: "Sectra";
  font-size: rem-calc(48px);
  font-weight: 500;
  line-height: (48 / 48);
  color: $gray-medium;
  text-align: center;
  -webkit-font-smoothing: antialiased;

  @include breakpoint(medium) {
    font-size: rem-calc(100px);
  }

  @include breakpoint(xlarge) {
    font-size: rem-calc(172px);
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    color: $white;
    content: attr(data-text);
    -webkit-text-stroke: 3px $white;
    opacity: 0;
    transition: 0.5s opacity cubic-bezier(0.215, 0.61, 0.355, 1);

    @include breakpoint(medium) {
      -webkit-text-stroke: 9px $white;
    }

    @include breakpoint(xlarge) {
      -webkit-text-stroke: 18px $white;
    }
  }
}

.pillarTitle--active {
  &::after {
    opacity: 1;
  }

  .pillarTitle__text {
    opacity: 1;
  }
}

.pillarTitle__text {
  opacity: 0;
  transition: 0.5s opacity cubic-bezier(0.215, 0.61, 0.355, 1);
}

.pillarTitle__border {
  position: absolute;
  bottom: 1px;
  left: 0;
  z-index: -2;
  display: block;
  width: 0;
  height: 3px;
  content: "";
  transition: 0.5s width cubic-bezier(0.165, 0.84, 0.44, 1);

  @include breakpoint(medium) {
    bottom: 2px;
    height: 6px;
  }

  @include breakpoint(xlarge) {
    height: 9px;
  }
}

.pillarTitle__border--in {
  width: 100%;
}

.pillarTitle__border--out {
  left: auto;
  right: 0;
}

@supports (-ms-ime-align: auto) {
  .pillarTitle__border {
    width: 100% !important;
  }
}
</style>
