<template>
  <div class="pillarGroup">
    <intersection
      @enter="$parent.activePillar = pillar"
      root-margin="-10% 0px"
    >
      <pillar-title
        :title="pillar.title"
        :color="pillar.color"
      />
    </intersection>
    <intersection
      @enter="$parent.activePillar = pillar"
      root-margin="-10% 0px"
    >
      <pillar-main
        :pillar="pillar"
      />
    </intersection>
  </div>
</template>

<script>
import intersection from '@/components/intersection';
import PillarTitle from '@/components/PillarTitle.vue';
import PillarMain from '@/components/PillarMain.vue';

export default {
  name: 'PillarGroup',
  components: {
    intersection,
    PillarTitle,
    PillarMain,
  },
  data() {
    return {
      active: false,
    };
  },
  props: {
    pillar: {
      type: Object,
      required: true,
    },
  },
};
</script>

<style lang="scss">
.pillarGroup {
  position: relative;
  z-index: 0;
}
</style>
