<template>
  <div id="app">
    <BaseModule
      v-for="(item, index) in modules"
      :key="`module_${index}`"
      :moduleData="item"
    />
  </div>
</template>

<script>
import { modules } from '@/data/index.yml';

import BaseModule from './components/BaseModule.vue';
import intersection from './components/intersection';

export default {
  name: 'app',
  components: {
    BaseModule,
    intersection,
  },
  data() {
    return {
      modules,
    };
  },
};
</script>

<style lang="scss">
@import "~@/scss/base/layout";
@import "~@/scss/base/forms";
@import "~@/scss/base/media";
@import "~@/scss/base/lists";
@import "~@/scss/base/typography";
</style>
